.introCard {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px !important;
    text-align: center;
}

@media (min-width: 768px) {
    .introCard {
        margin-top: 0px !important;
    }
}

.introCard .cardWrapper {
    /* background-color: #ffffff; */
    width: 100%;
    padding: 20px;
    /* border-radius: 4px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid; */
    text-decoration: none;
}

.primary {
    background-color: #57595d;
    color: #fff;
}

.secondary {
    background-color: #eee;
    color: #57595d;
}

.primary:hover, .secondary:hover {
    background-color: #20b6b0;
    color: #fff;
}

.cardWrapper h3 {
    font-size: 22px;
    height: auto;
}

.cardWrapper .cardDescription {
    height: auto;
    margin-top: 20px;
    font-weight: 400;
}


