.introCard {
    text-align: center;
    margin-bottom: 10px;
}
  
.cardContent {
    /* border: #a7a8ab solid 0.3px; */
    padding: 15px;
    /* color: #fff; */
}

.cardLink {
    text-decoration: none;
}

.cardLink .title {
    /* color: #20b6b0; */
    /* color: #57595d; */
    font-size: 20px;
    font-weight: 500;
}

.cardLink .description {
    /* color: #57595d; */
    font-size: 14px;
    font-weight: 400;
}

.primary {
    background-color: #57595d;
    color: #fff;
    height: 120px;
}

.primary:hover {
    background-color: #20b6b0;
    color: #fff;
}

.primary .cardLink .title {
    color: #fff;
}

.secondary {
    background-color: #f5f5f5;
    color: #57595d;
    height: 95px;
}

.secondary:hover {
    border: #57595d solid 0.3px;
}



