/* .row.cBallerinaIntroSection {
    background-color: #494949;
    padding: 20px 0 20px 0;
}

.embed-responsive.playground {
    height: 650px;
}

#iMainNavigation {
    background-color: #494949;
}

a.cMobileLogo {
    display: none;
}

.row.cBallerinaFeatureSection {
    /* padding: 80px 0; */


/* .navbar-nav > li > a {
    color: #fff;
}
.navbar-nav > li > a:hover {
    color: #20b6b0 !important;
}

img.cHomePageLogo {
    width: 330px;
}  */
.row.cBallerinaIntroSection h1 {
    color: #ffffff;

    font-size: 50px;

    font-weight: 100;

    line-height: 60px;

    margin: 20px 0;
}
.row.cBallerinaIntroSection h2 {
    color: #ffffff;

    text-underline-position: under;

    margin: 40px 0;
}

.row.cBallerinaIntroSection p {
    color: #c0c0c0;
    font-size: 3.1rem;
    line-height: 4rem;
}

.cBottomLayer ul {
    padding: 0;

    margin: 10px 0;

    display: inline-block;
    float: right;
}

.cBottomLayer ul li {
    list-style: none;

    display: inline-block;

    float: right;

    margin-right: 30px;
    /* width: 240px; */
}



.cTopLayer,
.cBottomLayer {
    padding: 0;
}

ul.b {
    list-style-type: square;
    color: #464646;
  }

.cTopLayer {
    padding-bottom: 60px;
}

.row.cBallerinaIntroSection .cBallerina-io-Home-main-download-button p {
    padding: 0;
    margin: 0;
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 11px;
    color: #fff;
    margin-left: 1px;
    line-height: 15px;
}

a.cBallerina-io-Home-main-download-button {
    color: #fff;
}

.cSignUp, button#subscribeUserButton {
	background: #56b3af;
	border: none;
	color: #fff;
	/* padding: 10px 20px; */
	margin-top: 15px;
	display: inline-block;
	width: auto;
	padding: 18px;
	line-height: 0px;
	font-family: "roboto";
	letter-spacing: 1px;
	font-weight: 400;
}

.cSignUp:hover , button#subscribeUserButton:hover {
background:#464646;
}

.cAgenda, button#agendaUserButton {
	background:none;
	border: #56b3af;
	color:#56b3af;
	/* padding: 10px 20px; */
	margin-top: 15px;
	display: inline-block;
	width: auto;
	padding: 18px;
    border-width:2px;
	line-height: 2px;
	font-family: "roboto";
	letter-spacing: 1px;
	font-weight: 400;
}

.cAgenda:hover , button#agendaUserButton:hover {
border:#464646;
color:#464646;
border-width:2px;
line-height: 2px;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
    color: #ffffff;
     
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    margin-right:15px;
    background-color: #ffffff;
    border: none;
    border-radius:0;
    /* box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;  */
    margin-top:20px;
}

.profileCard{
    margin: 10px 15px;
    border:#E6EAEB solid 0.1px ;
    text-align: left;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: 0;
    box-shadow:none;
}

.cBoxCard{
  
    border:#E6EAEB solid 0.1px ;
    text-align: left;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: 0;
    margin-bottom: 15px;
    margin-top:15px;
    box-shadow:none;

}


a.cIconLink {
    color: #56b3af;
    padding: 10px 0;
    padding-right: 0px;
    padding-right: 40px;
    background-image: url("/img/go-bg-home.svg");
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 20px;
    font-weight: 500;
    display: flex;
}

a.cIconLink:hover {
    color: #20b6b0;
    background-image: url("/img/go-bg-home-hover.svg");
    color: #20b6b0 !important;
}

.cBallerina-io p.cQuotes {
    padding: 30px 0;

    display: inline-block;

    border-top: 1px solid #c0c0c0;

    border-bottom: 1px solid #c0c0c0;

    width: 100%;

    font-style: italic;

    margin-top: 5px;

    font-size: 20px;

    font-weight: 100;
}

.cQuotes span {
    float: right;
}
.cBallerina-io p.cQuotes span a {
    color: #fff;
}

body.cBallerina-io .container.cFeatureSection {
    padding: 80px 0;
    /* margin-bottom: 80px; */
    border-bottom: 1px solid #c7c7c7;
}

.cColDiagram img {
    width: 100%;
}

.cTabPadding {
    padding: 7rem 0;
    min-height: 550px;
    display: inline-block;
}

.cHomeTabs li a {
    border: none !important;
    outline: none !important;
    font-size: 20px;
    font-weight: 600;
    color: #20b6b0;
}
.cHomeTabs li.active a {
    border-bottom: 6px solid #494949 !important;
}

.cHomeTabs li a:hover {
    color: #494949;
}

a.cBallerina-io-Home-main-com-button {
    font-size: 20px;
    background-color: #20b6b0;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: inline-block;
    float: center;
    font-weight: 500;
    text-decoration: none;
    
}



a.cPlayButton {
    background-color: transparent;
    background-image: url("/img/main-play-green-btn.svg") !important;
    /* -webkit-transform: rotate(30deg); */
}

a.cBallerina-io-Home-main-download-button {
    margin-bottom: 10px;
    min-width: 400px;
    border: 1px solid #20b6b0;
}
a.cBallerina-io-Home-main-download-button:hover {
    background-color: #eeeeee;
    background-image: url("/img/download-bg-green.svg");
}

.cTopLogoImage{
    width: 130px;
    padding: 20px;
}
.cCardbody{
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.cardBoxcontribution{
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    margin-right: 15px;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    box-shadow: 0;
    margin-bottom: 10px;
}

.cCard{
    height: 80px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 500;
    color: white;
    background-color:#20b6b0;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color:#464646;
}

.cBoxType1{
    margin-top:0px;
    border-bottom:#E6EAEB solid 0.1px ;
    text-align: left;
    overflow: hidden;
    padding: 5;
    margin-right: 15px;
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: 0;
    margin-bottom: 10px;
    box-shadow:none;
}

.ctopcards{
    background-color:#fff;
    border-radius:0px;
    border:#E6EAEB solid 0.1px ;
    min-width:210px;
    margin:12px; 
    text-align: center;
    box-shadow: none;

}

.cBoxType1:hover{
    background-color: aliceblue;
}

.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbarHide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* .cBoxType1{
    right:0;
}

.cBoxType1.event1{
    position: absolute;
    top: 0;
} */
.fInput{
    width: 800px;
}

.cPara{
    font-size: 20px;
    
}

.cUserButton1{
    border: 2px solid #1eb5ae;
}

.cbtn{
    background-color:#20b6b0;
    color: #fff !important;;
    border-radius:0px;
    margin:10px !important; 
    padding: 10px 20px !important;
}

.cbtn1{
    background-color:#ffffff;
    color:#20b6b0;
    border-radius:0px;
    margin:30px; 
    padding: 10px 20px;
    border: #20b6b0;
    border-width: 1px;
}
/* 
.navbar-toggle .icon-bar {
    background-color: #494949;
}

button.navbar-toggle {
    background-color: #20b6b0 !important;
}
*/
.row.cBallerinaIntroSection .cBallerina-io-Home-main-download-button:hover p {
    color: #494949;
}

.cWhyBallerinaLinks .cWhyBallerinaTabs a {
    color: #20b6b0;
}

.cVersionItem {
    display: none !important;
}

.cHomeWhyBallerinaBox {
    display: inline-block;
    padding-right: 60px;
    min-height: 400px;
}

.cimageprofile{
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
}
.cHomeWhyBallerinaRow > .col-md-4:last-child > .cHomeWhyBallerinaBox {
    padding-right: 0;
}

.cHomeWhyBallerinaBox img {
    height: 100px;
}

a.cGreenLinkArrow {
    color: #20b6b0 !important;
}
a.cGreenLinkArrow:hover {
    color: #000 !important;
}
.cHomeWhyBallerinaBox h3 {
    margin-bottom: 30px;
}

a.cPlayGround {
    list-style: none !important;
    padding-right: 23px;
    background-image: url("/img/playground-icon.svg");
    background-repeat: no-repeat;
    background-position: right center;
    margin: 0 0 10px 0;
    margin-left: 0 !important;
    display: inline list-item;
    float: right;
    color: #20b6b0 !important;
}

a.cPlayGround:hover {
    color: #000 !important;
}

.cVideoImage img {
    width: 100%;
}
.row.cVideoSection {
    background-color: #ffffff;
}

.row.cVideoSection h2,
.row.cVideoSection h3,
.row.cVideoSection p {
    color: #000 !important;
    font-family: inherit;
} 
.row.cVideoSection h2 {
    border-bottom: 2px solid #fff !important;
}
.row.cVideoSection h3 {
    margin-bottom: 30px;
}
.modal-dialog {
    max-width: none;
    margin: 1.75rem auto;
    width: 60%;
}
.modal {
    position: fixed;
    top: 102px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.modal-body {
    background-color: #fff;
    width: 100%;
}

.modal-backdrop.show {
    opacity: 0.8;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.close {
    float: right;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
    color: #fff !important;
    padding: 20px;
    display: inline-block;
    position: absolute;
    top: -5px;
    right: -30px;
    background-color: #000;
}

.linkText{
    color: #20b6b0;
    font-weight:400;
    font-size: 16px;
}

.linkText:hover{
    color: #ffffff !important;
    font-weight: 400;
    font-size: 16px;
}

.linkText1{
    color: #20b6b0;
    font-weight:400;
    font-size: 16px;
}

.linkText1:hover{
    color:#464646 !important;
    font-weight: 400;
    font-size: 16px;
}

a.video-btn img {
    border: 2px solid transparent;
}

a.video-btn:hover img {
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #1eb5ae;
}

@media screen and (max-width: 1199px) {
    .cBottomLayer ul li {
        margin-right: 0;
        margin-left: 30px;
    }
    .fInput{
        width: 600px !important;
    }
}

@media screen and (max-width: 991px) {
    #navbar {
        border: 1px solid #c0c0c0;
    }
    .cVersionContainer {
        width: 100%;
        float: left;
        margin-left: 5px;
    }
    .cBallerina-io-Home-main-download-button.cPlayButton {
        margin-right: 20px;
    }
    a.cBallerina-io-Home-main-download-button {
        min-width: 290px;
    }
    .cBottomLayer ul li {
        float: left;
    }
    .row.cBallerinaIntroSection p {
        margin-bottom: 30px;
    }
    .row.cBallerinaIntroSection {
        background-color: #494949;
        padding: 80px 0 60px 0;
    }

    .fInput{
        width: 500px !important;
    }
}

@media screen and (max-width: 744px) {
    #navbar {
        border: 1px solid #c0c0c0;
    }
    .cVersionContainer {
        width: 100%;
        float: left;
        margin-left: 5px;
    }
    .cBallerina-io-Home-main-download-button.cPlayButton {
        margin-right: 20px;
    }
    .cMainCTAContainer {
        display: inline-block;
    }
    a.cBallerina-io-Home-main-download-button {
        width: 100%;
    }
    .cBallerina-io-Home-main-download-button.cPlayButton {
        margin-right: 0;
    }
    .fInput{
        width: 400px !important;
    }
}

@media screen and (max-width: 440px) {
    .cBottomLayer ul li {
        margin-left: 0;
        margin-right: 0;
    }

    .fInput{
        width: 180px !important;
    }
}

/* 
.carousel-inner { margin: auto; width: 90%; }
.carousel-control 			 { width:  4%; }
.carousel-control.left,
.carousel-control.right {
  background-image:none;
}
 
.glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  margin-top:-10px;
  margin-left: -10px;
  color: #444;
}



@media (max-width: 767px) {
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
  }

}
@media (min-width: 767px) and (max-width: 992px ) {
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
  }
}
@media (min-width: 992px ) {
  
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(16.7%, 0, 0);
      transform: translate3d(16.7%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-16.7%, 0, 0);
      transform: translate3d(-16.7%, 0, 0);
  }
  
} */

/* .col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
	  font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; } */
/* 

@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}


@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}


@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block !important; }
}

.block {
	width: 75%;
	height: 230px;
}

.red {background: red;}

.blue {background: blue;}

.green {background: green;}

.yellow {background: yellow;}
  

.owl-item.active > div:after {
    content: 'active';
  }
  .owl-item.center > div:after {
    content: 'center';
  }
  .owl-item.active.center > div:after {
    content: 'active center';
  }
  .owl-item > div:after {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
  } */
