/* .introText {
    display: flex;
    align-items: center;
} */

.introText1 {
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
}

.introText2 {
    font-size: 24px;
    /* font-weight: 300; */
    font-weight: 400;
    color: #20b6b0;
}

.introText3, .download {
    display: block;
}

/* a.cDownload {
    display: block;
    transition: none !important;
    font-weight: 400;
    color: #20b6b0 !important;
    padding: 20px 8px 20px 40px;
    text-decoration: none;
    background-image: url('/images/download-bg.svg');
    background-repeat: no-repeat;
    background-position: left 0 top 20px;
} */


a.cDownload {
    display: block;
    transition: none !important;
    font-size: 18px;
    font-weight: 400;
    background-color: #57595d;
    color: #ffffff !important;
    /* padding: 20px 20px 20px 60px; */
    padding: 10px 20px 10px 60px;
    text-decoration: none;
    min-height: 60px;
    line-height: 35px;
    background-image: url('/images/download-bg.svg');
    background-repeat: no-repeat;
    /* background-position: left 20px top 22px; */
    background-position: left 20px top 14px;
    width: fit-content;
    border-radius: 4px;
}

a.cDownload:hover {
    background-image: url("/images/download-bg-white.svg");
    background-color: #20b6b0;
    background-repeat: no-repeat;
    background-position: left 20px top 14px;
}

.introImg div {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: #20b6b0;
    padding: 40px;
    border-radius: 4px;
    color: #ffffff;
}

/* .introText {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.introText3 {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0;
}

.introText3 {
    margin-bottom: 20px;
}

/* .introImg {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.introImg img {
    width: -moz-available;         
  width: -webkit-fill-available;  
  width: fill-available;
}