<div class="releaseNoteDiv">
    <h2 id="{{{releasenotesdiv version}}}" class="releaseNoteTitle">{{version}} ({{formatdate release-date}})</h2>
    <div id="{{{releasenotesdiv version}}}_note" class="releaseNoteContent">
        Loading...
    </div>
</div>
<div class="clearfix"></div>
<br>
