.logo {
    width: 150px;
    height: auto;
    margin-left: 10px;
    padding-top: 25px;
    padding-bottom: 50px;
}

@keyframes highlight {
    0% {
        background: #d5f3ff; 
    }
    100% {
        background: none;
    }
}

.highlight {
    animation: highlight 3s;
}

.hidden {
    display: none;
}

.builtin-type {
    color: #07a;
}

.method-content .main-method-title a.url-link {
    visibility: hidden;
}

.capitalize {
    text-transform: capitalize !important;
}

.method-signature {
    display: grid;
    background-color:#f5f2f0;
    padding: 1em;
    margin: .5em 0;
}

.method-signature a {
    font-size: 14px !important;
    font-family: monospace,monospace !important;
}

.method-signature .builtin-type {
    color: #07a;
}

.method-content .main-method-title:hover a.url-link {
    visibility: visible;
    width: 16px;
}

.method-content .default {
    word-break: break-all;
}

.method-content h2 {
    margin-top: 5px;
}

.method-content .function-desc {
    margin-top: 15px;
}

.method-content .parameters, .method-content .returns-listing {
    margin-top: 15px;
    padding-left: 10px;
}

.method-content .returns-listing p {
    margin-top: 5px;
}

.fields-listing p {
    margin-bottom: 10px;
    display: inline-block;
}

.method-content .params-listing p {
    display: contents;
}

.method-content .params-listing span {
    word-break:
}

.method-content .params-listing ul {
    margin-top: 5px;
    margin-bottom: 0;
}

.method-content {
    padding-top: 15px;
    padding-bottom: 20px
}

.method-list {
    margin-bottom: 24px;
}

.method-list .ui.table {
    padding-left: 24px;
}

.truncate {
    max-width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .fields-list {
margin-top: 24px;
} */

.fields-listing ul {
    margin-top: 0;
}

.fields-listing li {
    margin-top: 5px;
}

.url-link-img {
    display: none;
}

.ui.visible.left.vertical.sidebar.menu {
    width: 245px;
    padding-left: 15px;
    box-shadow: none;
    border-color: #eff1f5;
    overflow-y: hidden !important;
}

.ui.visible.left.vertical.sidebar.menu:hover {
    overflow-y: scroll !important;
}

.main-content a {
    color: #20b6b0;
}

.main-content a:hover {
    color: #177576;
}

.ui.visible.left.vertical.sidebar.menu .header, .ui.visible.left.vertical.sidebar.menu .header a {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
    color: #5f5f5f;
    font-weight: 500;
}

.ui.visible.left.vertical.sidebar.menu .item {
    max-width: 215px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #888888;
    font-size: 16px;
}


.ui.visible.left.vertical.sidebar.menu .item:hover {
    font-weight: 900;
}

.ui.visible.left.vertical.sidebar.menu .item.active {
    background-color: white;
    font-weight: 900;
}

.ui.visible.left.vertical.sidebar.menu .ui.divider {
    margin-right: 25px;
}
.ui.accordion .title {
    color: #888888 !important;
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif !important;
}

.ui.sidebar.menu .ui.accordion .title .dropdown.icon {
    float: right;
}

.ui.sidebar.menu .ui.accordion.item {
    padding-top: 0;
    padding-bottom: 0;
}

.ui.sidebar.menu .ui.accordion div.content {
    padding-top: 0;
    margin: 0;
}

.search-list .ui.basic.table {
    margin-top: 0 !important;
    margin-bottom: 10px;
}

.search-list h3 {
    margin-bottom: 0px;
}

.method-sum {
    background-color: #f5f7f8;
    padding: 25px;
}

.method-sum .ui.basic.table {
    background-color: #f5f7f8;
}

.method-content .returns-listing h3, .method-sum h3 {
    display: inline;
}

.param-title {
    margin-bottom: 0 !important;
}

.params-returns-details {
    padding-left: 20px;
}

.params-returns-details .returns-listing p:first-child {
    margin-top: 10px;
}

.nav-bar {
    border-bottom: 1px solid #f0eff2;
    border-right: 1px solid #f0eff2;
    padding-top: 17px;
    height: 80px;
}

.search-bar {
    color: #a4a5a7 !important;
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif !important;
    padding-left: 15px !important;
}

.ballerina, .nav-bar a {
    color: #20b6b0 !important;
    font-weight: 600 !important;
}

.nav-bar .ui.dropdown:hover, .nav-bar a:hover {
    color: #57595d !important;
    background-color: #ffffff !important;
}

.nav-bar .active {
    color: #57595d !important;
    background-color: #ffffff !important;
}

.mobile-logo-div, .mobile-logo, .mob-menu {
    display: none;
}

.nav-bar .ui.dropdown, body {
    font-family: 'Roboto', sans-serif !important;
}

.ui.breadcrumb a {
    color: #a6a7a8;
}

.ui.breadcrumb a:hover {
    color: #177576;
}

.ui.breadcrumb a.current {
    color: #727375 !important;
}

.type .builtin-type {
    font-size: 16px;
}

body .main-content {
    padding-left: 30px;
    padding-top: 30px;
    background-color: #fafcfe;
    max-width: 960px;
}

body .module-construct {
    margin-top: 40px;
    ;
}

body .main-content .module-data .table .module-desc p {
    display: inline;
}

body .attach-icon {
    width: 12px;
    opacity: 0.3;
}

body .strike {
    text-decoration: line-through;
}

h1, h2, h3, h4, h5, a {
    font-family: 'Roboto', sans-serif !important;
    color: #464646;
}

body code.language-ballerina a {
    font-size: 14px !important;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
}

body p, a, li, ul {
    font-size: 16px !important;
}

body p, li, ul {
    color: #a5a7b5;
}

.break-spaces {
    white-space: break-spaces !important;
}

body .main-method-title h2, body .main-method-title p {
    display: inline-block;
    margin-bottom: 0;
}

.params-returns-details .params-listing p {
    display: inline;
}

.select-css {
    border: none !important;
    background-color: #ffffff;
    outline: none;
    box-shadow: none;
}

.ui.table tr td {
    /*border-top: 0px !important;*/
}

body table .search-title, body table .module-title {
    /* max-width: 220px;
width: 220px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;*/
    color: #5f5f5f;
}

.main-method-title.record {
    font-size: 24px;
    color: #21b5b0;
}

.main-method-title.object {
    font-size: 24px;
    color: #265c9e;
}

.main-method-title.function {
    font-size: 24px;
    color: #ec407a;
}

.main-method-title.constant {
    font-size: 24px;
    color: #8e218c;
}

.main-method-title.type {
    font-size: 24px;
    color: #a25e1f;
}

.main-method-title.error {
    font-size: 24px;
    color: #ae0515;
}

.constants .data-wrapper {
    padding-left: 40px;
}

.constants .data-wrapper .params-listing {
    display: list-item;
    padding-left: 0;
}

.constants .data-wrapper .params-listing ul {
    padding-left: 0;
}

.constants .data-wrapper .params-listing li {
    display: block;
}

.horizontal.list .item {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.ballerina-snippet {
    overflow: auto;
    background-color: #f5f7f8;
    padding: 20px;
}

.content {
    margin-left: 240px;
    max-width: 960px;
    font-size: 16px;
}

.module-data {
    background-color: #ffffff !important;
    border-color: #f0eff2 !important;
    width: 95%;
    margin-top: 15px;
}

.construct-page .ui.horizontal.label {
    margin-bottom: 15px;
}

@media (max-width: 1199px) {
    .content {
        margin-left: 215px;
        font-size: 16px;
        max-width: fit-content;
    }
    .search-bar {
        max-width: 220px;
    }
    .ui.visible.left.vertical.sidebar.menu {
        width: 215px;
        padding-left: 15px;
    }
}

@media (max-width: 991px) {
    .toc {
        display: none;
    }
    .content {
        margin-left: 0;
        width: 100%;
    }
    .module-data {
        width: 99%;
    }
    .mob-menu {
        display: none;
    }
    .ui.breadcrumb {
        margin-top: 20px;
    }
    .row.nav-bar {
        display: none;
    }
    .pusher {
        border-top: 10px solid #20b6b0;
    }
    .mobile-logo {
        display: inline-block;
        width: 100px;
        margin-top: 15px;
        margin-left: 30px;
        height: 19px;

    }
    .mobile-logo-div {
        display: contents;
    }
    .main-content {
        padding-top: 0 !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .module-data {
        padding: 1em !important;
    }
    .ui.stackable.menu {
        margin: 0;
        border: 1px solid #f0eff2;
        background-color: #ffffff;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    .ui.menu {
        font-family: 'Roboto', sans-serif !important;
        ;
    }
    .search-bar {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 0 !important;
    }
    .ui.menu .ui.dropdown.ballerina .menu .item {
        color: #20b6b0 !important;
        font-weight: 600 !important;
    }
    .ui.menu .ui.dropdown.ballerina .menu .item.active {
        color: #57595d !important;
    }
    .ui.menu .ui.dropdown.item {
        color: #5f5f5f;
        font-weight: 500;
    }
    .ui.menu .ui.dropdown .menu .item {
        color: #888888 !important;
    }
    .ui.menu .ui.icon.button {
        background-color: #ffffff;
    }
}