.boxCol {
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px !important;
}

.boxCol .cardWrapper {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #ffffff;
}

.pGroup {
  border: #a7a8ab solid 0.3px;
  padding: 25px;
  margin-bottom: 30px;
}

.cardWrapper h3 {
  font-size: 22px;
  color: #585a5e;
  height: auto;
  margin-bottom: 20px;
}

.cardWrapper h4 {
  font-size: 18px;
  color: #585a5e;
  height: auto;
  margin-bottom: 10;
}

.titleLink {
  text-decoration: none;
  color: #20b6b0;
  font-size: 16px;
  font-weight: 400;
}

.titleLink:hover {
  color: #57595d;
}

.title {
  margin-bottom: 0;
}

.description {
  color: #57595d;
  font-size: 14px;
}

.contentCol {
  flex-direction: column;
  justify-content: space-between;
}

.sub {
  margin-left: 10px;
}

.swag {
  width: 25%;
}

.cardWrapper li+li {
  margin-top: 10px;
}

.customLi {
  margin: 0;
	padding: 0 0 6px 40px;
	list-style: none;
	background-image: url("/images/main-right-arrow-home-hover.svg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 32px;
}