.title {
    margin-bottom: 0;
}

.linkText {
    color: #20b6b0;
    font-weight: 500;
    text-decoration: none;
    margin-top: 10px;
}

.description {
    color: #57595d;
    font-size: 14px;
}

.linkText:hover {
    color: #57595d;
}

