.stack {
    /* background-color: #eeeeee; */
    background-color: #494949;
    color:#ffffff;
}

.footer {
    /* background: #eeeeee; */
    background: #494949;
    /* padding: 20px 0 10px 0; */
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer div.row {
    align-items: center;
}

.footer ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.socialMedia {
    min-height: 27px;
    margin-top: 7px;
    display: block;
    float: left;
}

.subscription {
    /* margin-top: 7px; */
    /* text-align: center; */
}

/* .smIcons, .subscribe {
    display: inline-block;
} */

.smIcons {
    display: inline-block;
}

.subscribe {
    display: block;
}

.subscribe + .subscribe {
    margin-top: 10px;
    margin-bottom: 10px;
}

.socialMedia ul li {
    list-style: none;
    display: inline-block;
    /* float: left; */
    margin-right: 20px;
    padding-top: 3px;
    padding-left: 2px;
}

.subscribeBtn, .subscribe a, .subRss {
    background-color: #20b6b0;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    /* width: 100%; */
    text-align: center;
    text-decoration: none;
}

.subRss {
    /* padding: 10px 20px 10px 50px !important; */
    padding: 10px 52px 10px 54px !important;
    /* margin-bottom: 2px;*/
    display: inline-block; 
    background-image: url(/images/sm-icons/rss-white.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px;
    background-color: #20b6b0;
    color: #fff;
    /* font-weight: 500; */
}

.subRss:hover {
    /* padding: 10px 20px 10px 50px !important; */
    padding: 10px 52px 10px 54px !important;
    /* margin-bottom: 2px;*/
    display: inline-block; 
    background-image: url(/images/sm-icons/rss-teal.svg) !important;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px;
    background-color: #ffffff;
    color: #20b6b0 !important;
    /* font-weight: 500; */
}

.subscribeBtn:hover, .subscribe a:hover {
    /* background-color: #57595d;
    color: #fff !important; */
    color: #20b6b0 !important;
    background-color: #ffffff;
}

.footerLinks {
    display: block;
    clear: both;
    padding-top: 10px
}

.footerLinks ul li a, .policyLinks ul li a, .policyLinks span {
    /* color: #57595d; */
    color: #ffffff;
    text-transform: uppercase;
    font-family: "CalibreWeb-Semibold", "pragmatica", sans-serif !important;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
}

.footerLinks ul li + li::before, .policyLinks ul li + li::before {
    content: "|";
    padding: 0 10px;
}

.inspire {
    font-size: 12px;
    /* padding-left: 40px; */
    padding-top: 0;
    /* color: #57595d; */
    color: #ffffff;
    letter-spacing: 0.4px;
    font-weight: 300;
    line-height: 16px !important;
}

/* @media (min-width: 576px) {
    .inspire {
        padding-left: 40px;
    }
} */

/* @media (min-width: 576px) {
    .subscribe {
        display: inline-block;
    }

    .subscribe + .subscribe {
        margin-left: 10px;
    }
} */


.policyLinks {
    border-top: 1px solid #c7c7c7;
    margin-top: 20px !important;
    padding-top: 20px;
}

.policyLinks ul {
    flex-wrap: wrap;
}