.langRow {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.linkText {
    color: #20b6b0;
    font-weight: 400;
    text-decoration: none;
}

.linkText:hover {
    color: #57595d;
}

/* .linkVideo {
    padding: 5px 15px;
    background-color: #20b6b0;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
} */

/* .linkVideo:hover {
    background-color: #57595d;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
} */

.btnCol {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .langSlides, .linkVideo {
    padding: 20px;
    background-color: #20b6b0;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.langSlides:hover {
    padding: 20px;
    background-color: #57595d;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
} */

.langContent {
    display: flex;
}


.linkBtn {
    display: block;
    margin: 0;
    transition: none !important;
    font-size: 16px;
    text-align: center;
    background-color: #20b6b0;
    color: #ffffff !important;
    padding: 10px 10px;
    background-repeat: no-repeat;
    background-position: left 25px top 18px;
    text-decoration: none;
    border: none;
    font-family: "pragmatica", sans-serif;
    transition: all 0.3s;
    width: 100%;
    margin-top: 10px;
    /* border: #57595d 1px solid; */
    /* margin-right: 10px; */
}

.linkBtn:hover {
    background-color: #57595d;
}

/* .linkBtn:not(:last-of-type) {
    margin-right: 10px;
} */

@media (min-width: 576px) {
    .langRow {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .linkBtn:not(:last-of-type) {
        margin-right: 10px;
    }
}

