.titleLink {
  text-decoration: none;
  color: #20b6b0;
  font-size: 16px;
}

.titleLink:hover {
  color: #57595d;
}

.title {
  margin-bottom: 0;
}

.description {
  color: #57595d;
  font-size: 14px;
}

.contentCol {
  flex-direction: column;
  justify-content: space-between;
}

.sub {
  margin-left: 10px;
}

.customLi {
  margin: 0;
	padding: 0 0 6px 40px;
	list-style: none;
	background-image: url("/images/main-right-arrow-home-hover.svg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 32px;
}

.customUl li+li {
  margin-top: 10px;
}