/* .box div {
    border: 1px solid #D9D9D9;
    padding: 20px;
} */

.box h3 {
    font-size: 20px;
    color: #585a5e;
}

a.cDownload {
    display: flex;
    transition: none !important;
    font-weight: 400;
    color: #20b6b0 !important;
    text-decoration: none;
    margin-bottom: 20px;
}

a.cDownload span {
    margin-right: 10px !important;
}

.integration.code pre.shiki,
.code-container {
    background-color: #ffffff !important;
    border: 1px solid #eeeeee;
}

.codeSnippet div pre {
    margin-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 11.375px;
    line-height: 18px;
}

.wrapper.spacing {
    padding-right: 25px;
}

/* .codeSnippet div pre.shiki {
    padding-top: 0 !important;
    background-color: #ffffff !important;
} */

.box img:not(.doNotFill) {
    border-radius: 4px;
    width: -moz-available !important;
    width: -webkit-fill-available !important;
    width: fill-available !important;
}

.box.ipaas {
    text-align: center;
}

.description {
    margin-bottom: 20px;
}

.code-container &.codeSnippet {
    overflow-y: scroll;
}

.dVersions {
    display: flex;
    /* justify-content: space-between; */
}

.dVersion {
    font-size: 16px;
}

.dVersion span {
    font-style: italic;
}

.box p a {
    color: #20b6b0;
    text-decoration: none;
    font-weight: 400;
}

.dVersions,
.comingSoon {
    margin-bottom: 20px !important;
    font-weight: 400;
}

.dVersions .dVersion {
    background-color: #20b6b0;
    font-weight: 400;
    padding: 10px;
    /* min-height: 45px; */
    height: auto;
    border-radius: 4px;
    margin-right: 20px;
}

.dVersions .dVersion a.cDownload {
    color: #ffffff !important;
    text-decoration: none !important;
    margin-bottom: 0 !important;
}

.dVersions .dVersion:hover {
    background-color: #585a5e;
}

.tableBox {
    overflow-x: auto;
}

.codeTable {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border-spacing: 30px;

}

.codeTable pre.shiki {
    background-color: #ffffff !important;
    border: none !important;
}

.codeSnippet table div pre {
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 11.375px;
    line-height: 18px;
}

.codeTd {
    border: 1px solid #eeeeee;
    vertical-align: top;
}

.descriptionTd {
    padding-bottom: 5px;
}

.descriptionTd.spacing {
    padding-top: 20px;
}

.graph {
    background-color: #e10098;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    border-radius: 4px;
}

.ballerina {
    background-color: #20b6b0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    border-radius: 4px;
}

/* ----------- draggable code blocks -------------- */
.code-container {
    width: 100%;
    min-height: 670px;
    position: relative;
    font-family: monospace;

    border-radius: 4px;
}

.left-panel {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100px;
    background-color: #ffffff;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
}

.right-panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: #ffffff;
    display: inline-block;
    white-space: nowrap;

    z-index: 999;
}

.drag {
    position: absolute;
    left: -4px;
    top: 0;
    bottom: 0;
    width: 8px;
    background: #20b6b0;
    z-index: 1000;
}

.code-container .title-new {
    background-color: #20b6b0;
    color: #fff;
    padding: 10px;
    margin-bottom: 0;
    overflow: hidden;
    z-index: 999;
}

.code-container .title-old {
    background-color: #464646;
    color: #fff;
    padding: 10px;
    margin-bottom: 0;
}

.code-tab li {
    white-space: break-spaces;
}

.code-tab .tab-pane p {
    font-family: monospace;
}

.code-container .button-wrap {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: block;
    z-index: 1001;
    cursor: grabbing;
}

.code-panel {
    white-space: nowrap;
}

.code-panel pre {
    overflow-y: scroll;
    height: 621px;
    margin-top: 0;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 11.375px;
    line-height: 18px;

    overflow-x: scroll;
}

@media (min-width: 1200px) {
    .code-panel pre {
        overflow-x: hidden;
    }
}

@media (min-width: 1400px) {
    .code-panel pre {
        overflow-x: hidden;
    }
}

.code-panel.diagram {
    overflow: hidden;
    text-align: center;
    padding: 30px;

    position: relative;
    z-index: 999;
}

.code2 {
    min-height: 528px;
}

.code2 pre {
    height: 480px;
}