/* .box div {
    border: 1px solid #D9D9D9;
    padding: 20px;
} */

.box h3 {
    font-size: 20px;
    color: #585a5e;
}

a.cDownload {
    display: flex;
    transition: none !important;
    font-weight: 400;
    color: #20b6b0 !important;
    text-decoration: none;
}

a.cDownload span {
    margin-right: 10px !important;
}

.codeSnippet div pre {
    margin-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* .codeSnippet div pre.shiki {
    padding-top: 0 !important;
    background-color: #ffffff !important;
} */

.box img {
    border-radius: 4px;
        width: -moz-available !important;         
        width: -webkit-fill-available !important;  
        width: fill-available !important;
}


