<!-- <script src="/js/algolia-instant-search.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">


<div class="search-searchbar" id="search-searchbar"></div>
<div class="post-list" id="search-hits">
  
</div>
<script>
  var paramText = window.location.href;
  var searchparamText =paramText.split('?')[1]

const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  apiKey: '{{ site.algolia.search_only_api_key }}',
  indexName: '{{ site.algolia.index_name }}'
});

const hitTemplate = function(hit) {
  let date = '';
  if (hit.date) {
    date = moment.unix(hit.date).format('MMM D, YYYY');
  }

  let url = `{{ site.baseurl }}${hit.url}#${hit.anchor}`;

  let title = "";
  if(hit._highlightResult.title&&hit._highlightResult.title.value){
    title = hit._highlightResult.title.value;
  }
 
  let content = "";
  if(hit._highlightResult.html&&hit._highlightResult.html.value){
    content = hit._highlightResult.html.value;
  }
  return `
    <a href="${url}" class="post-item"> 
      <h2>${title} </h2>  
      <div class="post-snippet">${content}</div>
    </a>
  `;
}


search.addWidget(
  instantsearch.widgets.searchBox({
    // defaultSearchVal:valueFromUrl, // If there is some option like this would be better
    container: '#search-searchbar',
    placeholder: 'Search...',
    autofocus:false ,
    showReset:false
  })
);

search.addWidget(
  instantsearch.widgets.hits({
    container: '#search-hits',
    templates: {
      item: hitTemplate
    }
  })
);

search.start();
// $('.ais-search-box input').val(searchparamText);

$(function(){
  $('.ais-search-box--input').keyup(function(){ 
    const searchBoxVal = $(this).val();
    showHideSearchList(searchBoxVal);
  });
  
  $('.ais-search-box--input').focus(function(){
    const searchBoxVal = $(this).val();
    showHideSearchList(searchBoxVal);
  });
  function showHideSearchList(searchBoxVal){
    if(searchBoxVal.replace(/\s/g, '').length){
      $('#search-hits').show();
    }else{
      $('#search-hits').hide(); 
    }
  }
})
$(document).mouseup(function(e) 
{
    var container = $(".cSearchMenu"); 
    // if the target of the click isn't the container nor a descendant of the container
    if (!container.is(e.target) && container.has(e.target).length === 0) 
    {
        container.find('#search-hits').hide();
    }
});
</script>

<style>
  .ais-search-box{
    height: 40px;
    width: 180px;
  }
  .ais-search-box--input{

  }
  .search-searchbar{
    margin-top: -14px;
  }

  .ais-search-box {
    max-width: 100%; 
  }
 
  .post-link .ais-Highlight {
    color: #111;
    font-style: normal;
    text-decoration: underline;
  }
  .post-breadcrumbs {
    color: #424242;
    display: block;
  }
  .post-breadcrumb {
    font-size: 18px;
    color: #424242;
  }
  .post-breadcrumb .ais-Highlight {
    font-weight: bold;
    font-style: normal;
  }
  .post-snippet .ais-Highlight {
    color: #2a7ae2;
    font-style: normal;
    font-weight: bold;
  }
  .post-snippet img {
    display: none;
  }
  .post-list{
      position: absolute; 
      right: 0;
      top: 100%;
      display: none;
      min-width: 100%;
     
  }
  .post-list .ais-hits{
      background-color: white;
      padding: 20px 10px;
      min-width: 400px;
      max-width: 400px;
      max-height: 400px;
      overflow: auto;
      box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.308);
      border: 1px solid #e7e7e7;
   
  }
  .post-list .ais-hits .ais-hits__empty{
    padding: 20px 15px;

  }
  .post-list .ais-hits .ais-hits--item{ 
    margin-bottom: 10px;
  }
  .post-list .ais-hits .ais-hits--item .post-item{
    padding: 5px 10px;
    margin-bottom: 30px;
    display: block;
  }
  .post-list .ais-hits .ais-hits--item .post-item:hover{
    background-color: #efefef;

  }
  .post-list .ais-hits .ais-hits--item .post-item h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color:#20b6b0;
    padding-bottom: 5px;
    display: block;
    border-bottom: 1px solid #c7c7c7;

  }
  .post-snippet .ais-Highlight{
    color:#20b6b0;
    font-style: italic;
    font-weight: 400;

  }
  .post-list .ais-hits .ais-hits--item .post-item .post-snippet{

  }
  .post-list .ais-hits .ais-hits--item .post-item .post-snippet p{
    font-size: 14px;
    line-height: 20px;
}
</style>
