<!-- at the end of the HEAD -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@alpha"/> -->
<link rel="stylesheet" href="/css/ballerina-search-button.css"/>
<link rel="stylesheet" href="/css/ballerina-search-modal.css"/>
<link rel="stylesheet" href="/css/ballerina-search-variables.css"/>
<link rel="stylesheet" href="/css/ballerina-search-style.css"/>
<style>
  .algolia-search-cont {
    margin-top: -13.8px;
  }
  .algolia-search-wrap {
    display: flex;
    align-items: center;
  }
  .algolia-search-cont .search-icon {
    margin-right: 10px;
  }
  .algolia-search-cont .algolia-search-box {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
  }
</style>
<div class="algolia-search-cont">
  <!-- <div class="algolia-search-wrap form-control">
    <span
      class="glyphicon glyphicon-search search-icon"
      aria-hidden="true"
    ></span>
    <input
      autocapitalize="off"
      autocomplete="off"
      autocorrect="off"
      placeholder="Search..."
      role="textbox"
      spellcheck="false"
      type="text"
      value=""
      class="algolia-search-box"
      id="algolia-search-box"
    />
  </div> -->
</div>

<!-- at the end of the BODY -->
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@docsearch/js@alpha"
></script>
<script type="text/javascript">
docsearch({
  container: '.algolia-search-cont',
  appId: '8LWM72S9RU',
  apiKey: '024f45d96c2949b32403db36d4016c23',
  indexName: 'ballerina', // it does not change
});
</script>
