
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page.description %}
<meta name="description" content="{{ page.description }}" />
{% else %}
<meta name="description" content="Documentation for the Ballerina Programming Language">
{% endif %}
<meta name="author" content="WSO2, Inc.">
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}" />
{% else %}
<meta name="keywords" content="ballerinalang, integration, microservices, programming language, cloud native, ballerina language" />
{% endif %}
<link rel="shortcut icon" href="/img/favicon.ico">
<title>{{ page.title }}</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92163714-2"></script>
<!--FB-->
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Ballerina - {{ page.title }}" />
<meta property="og:description"        content="A Programming Language for Network Distributed Applications" />
<meta property="og:image"              content="/img/ballerina-sm-2.jpg" />
<!--TWITTER-->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@ballerinalang">
<meta name="twitter:creator" content="@ballerinalang">
<meta name="twitter:title" content="Ballerina">
<meta name="twitter:description" content="A Programming Language for Network Distributed Applications">
<meta name="twitter:image" content="/img/ballerina-sm-2.jpg">
<meta name="twitter:text:description" content="A Programming Language for Network Distributed Applications">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:width" content="610">
<!--LINKED IN  -->
<meta property='og:title' content="Ballerina"/>
<meta property='og:image' content="/img/ballerina-sm-2.jpg"/>
<meta property='og:description' content="A Programming Language for Network Distributed Applications"/>
<script>
   window.dataLayer = window.dataLayer || [];
   function gtag() {
       dataLayer.push(arguments);
   }
   gtag('js', new Date());
   gtag('config', 'UA-92163714-2');
</script>
<!-- Google Tag Manager -->
<script>
   (function(w, d, s, l, i) {
       w[l] = w[l] || [];
       w[l].push({
           'gtm.start': new Date().getTime(),
           event: 'gtm.js'
       });
       var f = d.getElementsByTagName(s)[0],
           j = d.createElement(s),
           dl = l != 'dataLayer' ? '&l=' + l : '';
       j.async = true;
       j.src =
           'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
       f.parentNode.insertBefore(j, f);
   })(window, document, 'script', 'dataLayer', 'GTM-PSL2TX4');
</script>
<!-- End Google Tag Manager -->
<script src="{{ "/js/moment-2.22.0/moment.min.js" | prepend: site.baseurl }}"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
   var base_url = "";
</script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="https://use.typekit.net/son4ymv.css">
<!-- <link rel="stylesheet" href="./js/vs/editor/editor.main.css">-->
<link rel="stylesheet" href="https://use.typekit.net/son4ymv.css" />
<!-- <link rel="stylesheet" href="/css/theme.css" type="text/css" />
   <link rel="stylesheet" href="/css/theme_extra.css" type="text/css" /> -->
<script type="text/javascript" src="{{ "/js/highlight.pack.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/ballerina-common.js?100" | prepend: site.baseurl }}"></script>
<link rel="stylesheet" href="{{ "/css/ballerina-io.css" | prepend: site.baseurl }}">
<script>
   // Current page data
   var mkdocs_page_name = '"Home"'.replace(/^"|"$/g, '');
   var mkdocs_page_input_path = '"index.md"'.replace(/^"|"$/g, '');
   var mkdocs_page_url = '"/"'.replace(/^"|"$/g, '');
   
   var releaseNoteFilename = 'RELEASE_NOTE.html';
   
   var dev_download_url = 'https://product-dist.ballerina.io/dev';
   var nightly_download_url = 'https://product-dist.ballerina.io/nightly';
   var base_download_url = 'https://dist.ballerina.io/downloads';
</script>

