<div id="iBallerinaFooter" class="row cBallerina-io-White-row">
    <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 cBallerina-io-left-col cBallerinaFooterLinks">
        <ul>
            <li><a class="cBioFooterLink" href="/downloads">Download</a></li>
            <li><a class="cBioFooterLink" href="https://github.com/ballerina-lang/ballerina/blob/master/LICENSE">Code License</a></li>
            <li><a class="cBioFooterLink" href="/license-of-site">Site License</a></li>
            <li><a class="cBioFooterLink" href="/terms-of-service">TERMS OF SERVICE</a></li>
            <li><a class="cBioFooterLink" href="/privacy-policy">PRIVACY POLICY</a></li>
            </ul>
        </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 cBallerina-io-middle-col cBallerinaFooterSignUp">
        <div class="cSocialmedia">
            <ul>
                <li>
                    <a class="cBioFooterLink" href="https://github.com/ballerina-platform" target="_blank"><img src="/img/github.svg"/></a>
                    </li>
                <li><a class="cBioFooterLink" href="https://stackoverflow.com/questions/tagged/ballerina" target="_blank"><img src="/img/stackoverflow.svg"/></a></li>
                <li><a class="cBioFooterLink" href="https://twitter.com/ballerinalang" target="_blank"><img src="/img/twitter.svg"/></a></li>
                <li><a class="cBioFooterLink" href="/community/slack/"><img src="/img/slack.svg"/></a></li>
                </ul>
            <div class="pdframe"></div>
            </div>
        </div>
    <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 cBallerina-io-right-col">
        <p>In the creation of Ballerina, we were inspired by so many technologies. Thank you to all that have come before us (and forgive us if we missed one): Java, Go, C, C++, D, Rust, Haskell, Kotlin, Dart, TypeScript, JavaScript, Python, Perl, Flow, Swift, Elm, RelaxNG, NPM, Crates, Maven, Gradle, Kubernetes, Docker, Envoy, Markdown, GitHub and WSO2.</p></div>
    </div>
</div>
