<div id="iBallerinaFooter" class="row cBallerina-io-White-row">
    <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 cBallerina-io-left-col cBallerinaFooterLinks">
        <ul>
            <li><a class="cBioFooterLink" href="/downloads">DOWNLOAD</a></li>
            <!--<li><a class="cBioFooterLink" href="/community/#report-issues">REPORT ISSUES</a></li>-->
            <li data-toggle="modal" data-target="#reportissues1" data-whatever="@mdo"><a class="cBioFooterLink">REPORT ISSUES</a></li>
            <li><a class="cBioFooterLink" href="https://github.com/ballerina-lang/ballerina/blob/master/LICENSE">CODE LICENSE</a></li>
            <li><a class="cBioFooterLink" href="/license-of-site">SITE LICENSE</a></li>
            <li><a class="cBioFooterLink" href="/terms-of-service">TERMS OF SERVICE</a></li>
            <li><a class="cBioFooterLink" href="/privacy-policy">PRIVACY POLICY</a></li>
            <li><a class="cBioFooterLink" href="/cookie-policy">COOKIE POLICY</a></li>
            <li><a class="cBioFooterLink" href="/security-policy">SECURITY POLICY</a></li>
            <li><a class="cBioFooterLink" href="/trademark-usage-policy/">TRADEMARK USAGE POLICY</a></li>
            </ul>
        </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 cBallerina-io-middle-col cBallerinaFooterSignUp">
        <div class="cSocialmedia">
            <ul>
                <li>
                    <a class="cBioFooterLink" href="https://github.com/ballerina-platform" target="_blank"><img src="/img/github.svg"/></a>
                    </li>
                <li><a class="cBioFooterLink" href="https://twitter.com/ballerinalang" target="_blank"><img src="/img/twitter.svg"/></a></li>
                <li><a class="cBioFooterLink" href="https://groups.google.com/g/ballerina-dev"><img style="width:17px;" src="/img/google-groups.svg"/></a></li>
                <li><a class="cBioFooterLink" href="/community/#ballerina-slack-community"><img src="/img/slack-2022.svg" style="width:17px; height:17px;"/></a></li>
                <li><a class="cBioFooterLink" href="https://stackoverflow.com/questions/tagged/ballerina" target="_blank"><img src="/img/stackoverflow.svg"/></a></li>
                <li><a class="cBioFooterLink" href="https://www.youtube.com/c/Ballerinalang"><img style="width:15px;" src="/img/youtube-icon.svg"/></a></li>
                <li><a class="cBioFooterLink" href="https://www.linkedin.com/company/79080790"><img style="width:16px;" src="/img/linkedin.svg"/></a></li>
            </ul>
            <div class="pdframe"></div>
            </div>

           <a class="cNLButton" href="/community/#subscribe-to-newsletter">Subscribe to our newsletter</a> 

           <div class="modal fade" id="reportissues1" tabindex="-1" role="dialog" aria-labelledby="reportissueslabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="padding:15px;border-radius:0px;">
                <div class="modal-header" style="border-bottom:none; padding-bottom:0px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  <h3 class="modal-title" style="font-size: 32px;font-weight: 600;color: #464646;border-bottom: 2px solid #464646;display: inline-block;padding-bottom: 10px;">Report issues</h3>
                  <p class="modelDescription" style="padding: 15px 0px 0px 0px;font-size: 16px;color: #57595d;font-weight: 300;margin-bottom: 0;line-height: 27px !important;letter-spacing: 0.4px;">Report issues in the GitHub repositories of the areas and components listed below.
                  </p>
                </div>
                <div class="modal-body" style="background-color: #fff; font-size: 20; color: #465867;font-size: 20px;">
                  <ul class="b" style="list-style-type: square; padding-left:20px">
                    <li><a class="linkText" href="https://github.com/ballerina-platform/ballerina-lang/issues/new/choose" target="_blank"> Compiler, runtime, and CLI tooling</a></li>
                    <li><a class="linkText" href="https://github.com/ballerina-platform/ballerina-standard-library/issues/new/choose" target="_blank"> Standard Library</a></li>
                    <li><a class="linkText" href="https://github.com/wso2/ballerina-plugin-vscode/issues/new/choose" target="_blank"> Ballerina Visual Studio Code extension</a></li>
                    <li><a class="linkText" href="https://github.com/ballerina-platform/ballerina-spec/issues/new/choose" target="_blank">  Platform specifications</a></li>
                    <li><a class="linkText" href="https://github.com/ballerina-platform/ballerina-dev-website/issues/new/choose" target="_blank">  Website, Ballerina Central, API Docs</a></li>
                    <li><a class="linkText" href="mailto:security@ballerina.io" target="_blank">Security</a> <span style="font-size: 16px;">(For details, see the</span> <a class="linkText" href="/security" target="_blank">security policy</a>.)</li>
                  </ul>  
                </div>
              </div>
            </div>
          </div>
        </div>
    <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 cBallerina-io-right-col">
        <p>In the creation of Ballerina, we were inspired by many technologies. Thank you to all that have come before us (and forgive us if we missed one): Java, Go, C, C++, D, Rust, Haskell, Kotlin, Dart, TypeScript, JavaScript, Python, Perl, Flow, Swift, Elm, RelaxNG, NPM, Crates, Maven, Gradle, Kubernetes, Docker, Envoy, Markdown, GitHub, and WSO2.</p></div>
    </div>
</div>


<div class="cCookie-Policy">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-lg-12">
<div class="col-xs-12 col-sm-12 col-lg-10" style="padding-left: 0;">
    <p>This website uses cookies so that we can provide you with the best user experience. Read our <a href="https://ballerina.io/cookie-policy/">Cookie policy</a></a> to find out more.</p>
    <p>If you wish to disable cookies you can do so from your browser. </p>
</div>
<div class="col-xs-12 col-sm-12 col-lg-2" style="padding-left: 0;" >
    <a class="cIUnderstand ">I understand </a> 
</div>
  
<!-- <a href="https://ballerina.io/cookie-policy/"></a> -->

        </div>
    </div>
</div>


<style>
    .linkText{
        color:#20b6b0 !important;
        font-size: 16px !important;
        line-height: 24px !important;
        font-weight: 300 !important;
    }

    .linkText:hover{
        color:#57595d !important;
    }
</style>


<script src="/js/prism.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-core.min.js"></script> -->
<script src="/js/prism-ballerina.js"></script>



<script>

$(".cIUnderstand ").click(function() {
    $(".cCookie-Policy").addClass('cHide-Policy');
   
    
});



</script>


<!-- 
<script>
    (function () {

if (typeof self === 'undefined' || !self.Prism || !self.document) {
    return;
}

/**
 * Plugin name which is used as a class name for <pre> which is activating the plugin
 * @type {String}
 */
var PLUGIN_NAME = 'line-numbers';

/**
 * Regular expression used for determining line breaks
 * @type {RegExp}
 */
var NEW_LINE_EXP = /\n(?!$)/g;

/**
 * Resizes line numbers spans according to height of line of code
 * @param {Element} element <pre> element
 */
var _resizeElement = function (element) {
    var codeStyles = getStyles(element);
    var whiteSpace = codeStyles['white-space'];

    if (whiteSpace === 'pre-wrap' || whiteSpace === 'pre-line') {
        var codeElement = element.querySelector('code');
        var lineNumbersWrapper = element.querySelector('.line-numbers-rows');
        if (!codeElement || !lineNumbersWrapper) {
            return;
        }
        var lineNumberSizer = element.querySelector('.line-numbers-sizer');
        var codeLines = codeElement.textContent.split(NEW_LINE_EXP);

        if (!lineNumberSizer) {
            lineNumberSizer = document.createElement('span');
            lineNumberSizer.className = 'line-numbers-sizer';

            codeElement.appendChild(lineNumberSizer);
        }

        lineNumberSizer.style.display = 'block';

        codeLines.forEach(function (line, lineNumber) {
            lineNumberSizer.textContent = line || '\n';
            var lineSize = lineNumberSizer.getBoundingClientRect().height;
            lineNumbersWrapper.children[lineNumber].style.height = lineSize + 'px';
        });

        lineNumberSizer.textContent = '';
        lineNumberSizer.style.display = 'none';
    }
};

/**
 * Returns style declarations for the element
 * @param {Element} element
 */
var getStyles = function (element) {
    if (!element) {
        return null;
    }

    return window.getComputedStyle ? getComputedStyle(element) : (element.currentStyle || null);
};

window.addEventListener('resize', function () {
    Array.prototype.forEach.call(document.querySelectorAll('pre.' + PLUGIN_NAME), _resizeElement);
});

Prism.hooks.add('complete', function (env) {
    if (!env.code) {
        return;
    }

    var code = env.element;
    var pre = code.parentNode;

    // works only for <code> wrapped inside <pre> (not inline)
    if (!pre || !/pre/i.test(pre.nodeName)) {
        return;
    }

    // Abort if line numbers already exists
    if (code.querySelector('.line-numbers-rows')) {
        return;
    }

    var addLineNumbers = false;
    var lineNumbersRegex = /(?:^|\s)line-numbers(?:\s|$)/;

    for (var element = code; element; element = element.parentNode) {
        if (lineNumbersRegex.test(element.className)) {
            addLineNumbers = true;
            break;
        }
    }

    // only add line numbers if <code> or one of its ancestors has the `line-numbers` class
    if (!addLineNumbers) {
        return;
    }

    // Remove the class 'line-numbers' from the <code>
    code.className = code.className.replace(lineNumbersRegex, ' ');
    // Add the class 'line-numbers' to the <pre>
    if (!lineNumbersRegex.test(pre.className)) {
        pre.className += ' line-numbers';
    }

    var match = env.code.match(NEW_LINE_EXP);
    var linesNum = match ? match.length + 1 : 1;
    var lineNumbersWrapper;

    var lines = new Array(linesNum + 1).join('<span></span>');

    lineNumbersWrapper = document.createElement('span');
    lineNumbersWrapper.setAttribute('aria-hidden', 'true');
    lineNumbersWrapper.className = 'line-numbers-rows';
    lineNumbersWrapper.innerHTML = lines;

    if (pre.hasAttribute('data-start')) {
        pre.style.counterReset = 'linenumber ' + (parseInt(pre.getAttribute('data-start'), 10) - 1);
    }

    env.element.appendChild(lineNumbersWrapper);

    _resizeElement(pre);

    Prism.hooks.run('line-numbers', env);
});

Prism.hooks.add('line-numbers', function (env) {
    env.plugins = env.plugins || {};
    env.plugins.lineNumbers = true;
});

/**
 * Global exports
 */
Prism.plugins.lineNumbers = {
    /**
     * Returns the node of the given line number in the given element.
     * @param {Element} element A `<pre>` element with line numbers.
     * @param {Number} number
     * @returns {Element | undefined}
     */
    getLine: function (element, number) {
        if (element.tagName !== 'PRE' || !element.classList.contains(PLUGIN_NAME)) {
            return;
        }

        var lineNumberRows = element.querySelector('.line-numbers-rows');
        var lineNumberStart = parseInt(element.getAttribute('data-start'), 10) || 1;
        var lineNumberEnd = lineNumberStart + (lineNumberRows.children.length - 1);

        if (number < lineNumberStart) {
            number = lineNumberStart;
        }
        if (number > lineNumberEnd) {
            number = lineNumberEnd;
        }

        var lineIndex = number - lineNumberStart;

        return lineNumberRows.children[lineIndex];
    },
    /**
     * Resizes the line numbers of the given element.
     *
     * This function will not add line numbers. It will only resize existing ones.
     * @param {Element} element A `<pre>` element with line numbers.
     * @returns {void}
     */
    resize: function (element) {
        _resizeElement(element);
    }
};

}());
</script> -->

<!-- 
<style>
    pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}
</style> -->