<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% if page.description %}
<meta name="description" content="{{ page.description }}" />
{% else %}
<meta
  name="description"
  content="Documentation for the Ballerina Programming Language"
/>
{% endif %}
<meta name="author" content="WSO2, Inc." />
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}" />
{% else %}
<meta
  name="keywords"
  content="ballerinalang, integration, microservices, programming language, cloud native, ballerina language"
/>
{% endif %}
<link rel="shortcut icon" href="/img/favicon.ico" />
<title>{{ page.title }}</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-92163714-2"
></script>
<!--FB-->
<meta property="og:type" content="article" />
<meta property="og:title" content="Ballerina - {{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta
  property="og:image"
  content="https://ballerina.io/img/ballerina-swan-lake-sm-banner-general.png"/>
<!--TWITTER-->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@ballerinalang" />
<meta name="twitter:creator" content="@ballerinalang" />
<meta name="twitter:title" content="Ballerina" />
<meta name="twitter:description" content="{{ page.description }}" />
<meta
  name="twitter:image"
  content="https://ballerina.io/img/ballerina-swan-lake-sm-banner-general.png"/>
<meta name="twitter:text:description" content="{{ page.description }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image:width" content="610" />
<!--LINKED IN  -->
<meta property="og:title" content="Ballerina" />
<meta
  property="og:image"
  content="https://ballerina.io/img/ballerina-swan-lake-sm-banner-general.png"/>
<meta property="og:description" content="{{ page.description }}" />
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "UA-92163714-2");
</script>
<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      "gtm.start": new Date().getTime(),
      event: "gtm.js",
    });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-PSL2TX4");
</script>
<!-- End Google Tag Manager -->

<!--copy to clipboard lib-->
<script src="/js/clipboard.js-2.0.0/clipboard.min.js"></script>

<script src="/js/latest-jquery.js"></script>
<script>
  var base_url = "";
</script>
<link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
  crossorigin="anonymous"
/>
<!-- Optional theme -->
<link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
  integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
  crossorigin="anonymous"
/>
<!-- Latest compiled and minified JavaScript -->
<script
  src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
  integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
  crossorigin="anonymous"
></script>
<!-- <link rel="stylesheet" href="https://use.typekit.net/son4ymv.css"> -->

<!-- <script type="text/javascript" src="/js/highlight.pack.js"></script> -->

<link rel="stylesheet" href="{{ '/css/prism.css' | prepend: site.baseurl }}">

<script src="/js/ballerina-common.js"></script>
<link rel="stylesheet" href="/css/ballerina-io.css" />
<link rel="stylesheet" href="/css/ballerina-io-bbe.css" />
<link rel="stylesheet" href="/css/bbe-page.css" />
<script>
  // Current page data
  var mkdocs_page_name = '"Home"'.replace(/^"|"$/g, "");
  var mkdocs_page_input_path = '"index.md"'.replace(/^"|"$/g, "");
  var mkdocs_page_url = '"/"'.replace(/^"|"$/g, "");

  var releaseNoteFilename = "RELEASE_NOTE.html";

  var nightly_download_url = "https://product-dist.ballerina.io/nightly";
  var dev_download_url = "https://product-dist.ballerina.io/dev";
  var base_download_url = "https://dist.ballerina.io/downloads";

  $(document).ready(function () {
    $("table").removeClass("table-striped");
    $(".ballerina").addClass("language-ballerina");
    $("pre").addClass("language-ballerina");
  });
</script>