{% for entry in site.data.all-bbes %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.permalink }}{% endcapture %}
{% if fullurl == page.permalink %}
{% assign current_page = fullurl %}
{% break %}
{% elsif page.permalink contains fullurl %}
{% assign current_page = fullurl %}
{% endif %}
{% endfor %}
<!-- Then we build the nav bar. -->
<nav class="cLeftNavContainer cLeftNavContainerScroll">
   <ul class="cMainLeftNav">
      {% for entry in site.data.all-bbes %}
      {% if entry.permalink  == current_page %}
      {% assign current = ' class="current"' %}
      {% else %}
      <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
      <!-- {% assign current = null %} -->
      {% endif %}
      {% assign samples = entry.samples %}
      {% if samples %}
      <li class="sub-menu cTopicURL">
         <div class="cLeftMenuLink cTopiAtag">{{ entry.title }} </div>
         <ul class="sub-ul">
            {% if samples.permalink  == current_page %}
            <!-- {% assign current = ' class="current"' %} -->
            {% assign page.url = ' class="current-sub"' %}
            {% else %}
            {% endif %}
            {% for sample in samples %}
            <!-- <li {{ current-sub }} ><a href="{{ site.baseurl }}{{ samples.permalink  }}">- {{ samples.title }}</a></li> -->
            <li{% if sample.url == page.url %} class="current-sub"{% endif %}><a href="{{ sample.permalink  }}">{{ sample.name }}</a></li>
            {% endfor %}
         </ul>
      </li>
      {% else %}
      <!-- <li{{ current }}><a href="{{ site.baseurl }}{{ entry.permalink  }}">- {{ entry.title }}</a></li> -->
      <li class="cTitleOnly" {% if entry.url == page.url %} class="current"{% endif %}>{{ entry.title }}</li>
      {% endif %}
      {% endfor %}
   </ul>
</nav>