{% assign eurl = '#' %}
{% for entry in site.data.bbenavswanlake %}
{% capture fullurl %}{{ site.baseurl }}{{ eurl }}{% endcapture %}
{% if fullurl == page.url %}
{% assign current_page = fullurl %}
{% break %}
{% elsif page.url contains fullurl %}
{% assign current_page = fullurl %}
{% endif %}
{% endfor %}
<!-- Then we build the nav bar. -->
<nav class="cLeftNavContainer cLeftNavContainerScroll">
   <ul class="cMainLeftNav">
      <!-- <li class="cTitleOnly" style="font-size: 20px; font-weight: bold;" {% if eurl == page.url %} class="current"{% endif %}>Learn By Examples</li> -->
      <li{% if sample.url == page.active %} class="current-sub"{% endif %}><a href="/learn/by-example/introduction/">Introduction</a></li>
      {% assign category = '' %}
      {% for entry in site.data.all-bbes %}
      {% assign samples = entry.samples %}
      {% assign sampleContentLength = 0 %}

         <!-- Check sample items showable count -->
         {% for sample in samples %} 
            {% if sample.isLearnByExample %}
               {% assign sampleContentLength = sampleContentLength+1 %} 
            {% endif %} 
         {% endfor %}
         <!-- If sample items showable  is not 0 show the category -->

         {% if sampleContentLength!=0 %}  
      
         {% unless category contains entry.category %}
            {% assign category = category | append: entry.category %}
            <li class="cTitleOnly" {% if eurl == page.url %} class="current"{% endif %}>{{ entry.category }}</li>
         {% endunless %}
         {% endif %} 

         {% if eurl == current_page %}
            {% assign current = ' class="current"' %}
         {% else %}
         <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
         <!-- {% assign current = null %} -->
         {% endif %}
        
         <!-- If samples has values and items showable  is not 0 show the subtopics -->
 
         {% if samples %}   
            {% if sampleContentLength!=0 %}    
               <li class="sub-menu cTopicURL">
               <div class="cLeftMenuLink cTopiAtag">{{ entry.title }} </div>
               <ul class="sub-ul">
                  {% if sample.url == current_page %}
                  <!-- {% assign current = ' class="current"' %} -->
                  {% assign page.active = ' class="current-sub"' %}
                  {% else %}
                  {% endif %} 
                  {% for sample in samples %}
                  {% assign permalink = '/learn/by-example/' | append: sample.url %}
                  {% if sample.isLearnByExample %}
                  <li{% if sample.url == page.active %} class="current-sub"{% endif %}>
                     <a href="{{ permalink }}">
                     {{ sample.name }} 
                     </a>
                  </li>
                  {% endif %}

                  {% endfor %}
               </ul>
               </li>
            {% endif %} 
         {% else %}
            <li class="cTitleOnly" {% if entry.active == page.active %} class="current"{% endif %}>{{ entry.title }}</li>
         {% endif %}
      {% endfor %}
   </ul>
</nav>
<style>
   .nav > li.cVersionItem {
      display: none !important;
   }
</style>
