<nav class="breadcrumbs bootstrap hidden-sm-down"
  {% if (page.url == '/') and (site.breadcrumbs.root.hide) %}{{ 'style="display: none;"' }}{% endif %}>
  <ul id="breadcrumb-list" class=" cBalleinaBreadcrumbs list-unstyled  wy-breadcrumbs" vocab="http://schema.org/"
    typeof="BreadcrumbList">


    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <li><a href="/">Home</a></li>
    {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
    <li>/</li> {{ page.title }}
    {% else %}
    <li>/</li>
    <li><a
        href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
    </li>
    {% endif %}
    {% endfor %}

  </ul>
</nav>
<style type="text/css">
  .cBalleinaBreadcrumbs li {
    margin-right: 10px;
  }
</style>