<div class="row cBallerina-io-Nav" id="iMainNavigation">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <nav class="navbar">
                <div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">&#9776</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="cMobileLogo" href="/"><img src="/img/ballerina-logo.svg" alt="Ballerina"/></a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav cTopNav">
                            <li class="active toctree-l1" id="learnli"><a class="cBioTopLink" href="/learn">Learn</a>
                            </li>
                            <li class="active toctree-l1" id="Eventsli"><a class="cBioTopLink" href="/learn/events">Events</a>
                            </li>
                            <li class="toctree-l1"><a class="cBioTopLink" href="https://central.ballerina.io/"
                                                      target="_blank">Central</a></li>
                            <li class="toctree-l1" id="openli"><a class="cBioTopLink" href="/community">Community</a>
                            </li>
                            <li class="toctree-l1" id="helpli"><a class="cBioTopLink" href="https://blog.ballerina.io">Blog</a>
                            </li>
                            <li class="cVersionItem">
                                <div class="cVersionContainer">
                                    <!-- <lable class="cVlable">Version</lable> -->
                                    <select name="versions" id="versions" class="select-css">
                                        <option value="1.2" data-value="latest">v1.2</option>
                                        <option value="1.1">v1.1</option>
                                        <option value="1.0">v1.0</option>
                                        <option value="0.991">v0.991</option>
                                    </select>
                                </div>
                            </li>
                            <li class="cSearchMenu"><form class="cSearch-form-inline"><input id="searchTxt" class="form-control-field" type="search" placeholder="Search" aria-label="Search"><a id="searchBtn" href="#" class="cSearchButton"><img src="/img/search.svg"/></a></form></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
