

<style>
    .cInfoBanner {
        background: #20b6b0;
        width: 100%;
        display: inline-block;
        color: #fff;
        padding: 10px;
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
    } 
    .cInfoBanner:hover {
        background-color: #1b7e7a;
        color: #fff !important;
    }

    .feedbackBtn {
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        background: #20b6b0;
        color: #fff;
        font-size:  14px;
        position: fixed;
        font-weight: 600;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 6px 0px 0px 6px;
        writing-mode: vertical-lr;
        padding: 15px 2px;
        line-height: 30px;
        box-shadow: 0 1px 0 rgba(153, 153, 153, 0.25) inset, 0 -1px 0 rgba(0, 0, 0, 0.25) inset;
    }

    .feedbackBtn:hover {
        background-color: #3c464c;
        color: #fff !important;

    }
</style>
<a href="https://ballerina.io/downloads/" class="cInfoBanner">
    Swan Lake Beta1 is here.
</a>
<div class="row cBallerina-io-Nav" id="iMainNavigation">
 
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <nav class="navbar">
                <div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">&#9776</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="cMobileLogo" href="/"><img src="/img/ballerina-logo.svg" alt="Ballerina"/></a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav cTopNav">
                            <li class="toctree-l1" id="playli"><a class="cBioTopLink" href="/downloads/">Download</a>
                            </li>
                            <li class="toctree-l1" id="playli"><a class="cBioTopLink" href="https://play.ballerina.io/" target="_blank">Playground</a>
                            </li>
                            <li class="active toctree-l1" id="learnli"><a class="cBioTopLink" href="/learn">Learn</a>
                            </li>
                            <!--<li class="active toctree-l1" id="eventsli"><a class="cBioTopLink" href="/learn/events">Events</a>
                            </li>-->
                            <li class="toctree-l1"><a class="cBioTopLink" href="https://central.ballerina.io/"
                                                      target="_blank">Central</a></li>
                            <li class="toctree-l1" id="openli"><a class="cBioTopLink" href="/community">Community</a>
                            </li>
                            <li class="toctree-l1" id="helpli"><a class="cBioTopLink" href="https://blog.ballerina.io">Blog</a>
                            </li>
                            <li class="cVersionItem">
                                <div class="cVersionContainer">
                                    <!-- <lable class="cVlable">Version</lable> -->
                                    <select name="versions" id="versions" class="select-css">
                                        <option value="swan-lake" data-value="latest">Swan Lake</option>
                                        <option value="1.2">v1.2</option>
                                        <option value="1.1">v1.1</option>
                                        <option value="1.0">v1.0</option>
                                   
                                    </select>
                                </div>
                            </li>
                            <li class="cSearchMenu"><form class="cSearch-form-inline"><input id="searchTxt" class="form-control-field" type="search" placeholder="Search" aria-label="Search"><a id="searchBtn" href="#" class="cSearchButton"><img src="/img/search.svg"/></a></form></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<a  onclick=window.open("https://github.com/"+"ballerina-platform/ballerina-dev-website"+"/issues/new?title=Doc%20Feedback:&body=Location%20:%20"+window.location.href);  title="Report Issues" class="feedbackBtn localLink"  >Report Issues</a>