.introText {
    display: flex;
    align-items: center;
}

.introText1 {
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
}

.introText2 {
    font-size: 24px;
    font-weight: 300;
}

.introText3, .download {
    display: block;
}

a.cDownload {
    display: block;
    transition: none !important;
    font-weight: 400;
    color: #20b6b0 !important;
    padding: 20px 8px 20px 40px;
    text-decoration: none;
    background-image: url('/images/download-bg.svg');
    background-repeat: no-repeat;
    background-position: left 0 top 20px;
}
