.fArticles {
    padding: 30px;
}

.articles {
    background-color: #e6eaeb5d;
    padding: 30px;
}

.fArticles h2, .articles h2 {
    font-size: 1.5rem;
}

.fArticles h4, .articles h4 {
    font-size: 1.25rem;
}

.articleWrapper {
    height:528px; 
    overflow-y: scroll;
}

.articleInfo {
    padding: 10px 0 10px 0;
    margin: 0px 0px 10px 0;
    border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.articleInfo a {
    color: #20b6b0;
    text-decoration: none;
}

.articleInfo a:hover {
    color: #57595d;
    text-decoration: none;
}

.last {
    border: none !important;
}

