.langRow {
    margin-bottom: 10px;
}
.linkRow {
    padding-bottom: 10px;
}

.linkText {
    color: #20b6b0;
    font-weight: 500;
    text-decoration: none;
    margin-top: 10px;
}

.linkSubText {
    font-size: 12px;
    color: #20b6b0;
    text-decoration: none;
    font-weight: 500;
}

.linkText:hover, .linkSubText:hover {
    color: #57595d;
}

