.langRow {
    margin-bottom: 10px;
}
.linkRow {
    padding-bottom: 10px;
}

.linkText {
    color: #20b6b0;
    font-weight: 500;
    text-decoration: none;
    margin-top: 10px;
}

.linkSubText {
    font-size: 12px;
    color: #20b6b0;
    text-decoration: none;
    font-weight: 500;
}

.linkText:hover, .linkSubText:hover {
    color: #57595d;
}

.pGroup {
    border: #a7a8ab solid 0.3px;
    padding: 25px;
    /* height: 120px; */
    margin-bottom: 30px;
    background-color: #ffffff;
}
.description{margin-top: 1rem;margin-bottom: 0rem;color: #57595d !important;}
.cardLink .title {
    /* color: #20b6b0; */
    /* color: #20b6b0 ; */
    font-size: 20px;
    font-weight: 500;
}
.cardLink .titleLink:hover {
    /* color: #20b6b0; */
    color: #57595d !important;
    
}
.cardLink {
    text-decoration: none;
}
.titleLink{
    text-decoration: none;
}
/* .titleLink{color: #57595d !important;} */
.pGroup {
    color: #20b6b0 ; 
}

.pGroup:hover{border: #20b6b0 0.8px solid;background-color: #f7f7f7;color: #57595d !important;transition: 0.3s;}
.pGroup img{width: 100px; margin-top: 20px; margin-bottom: auto;}
.image1{width: 74px !important;
    margin-top: 20px !important;}
.image2{width: 86px !important;
    margin-top: 20px !important;}
.cLightGrayBlade{background-color: #f8f8f8;padding: 35px 0 20px 0;}
.learnRowUsecase{padding-top: 0;}
.cReduceBottom{margin-bottom: 0 !important;}

@media (max-width: 820px) {
    .pGroup img{width: 86px; margin-top: 0px; margin-bottom: auto;}
    
}