.viewAll {
  color: #20b6b0;
  text-decoration: none;
  text-align: right;
  font-weight: 400;
  font-size: 18px;
}

.viewAll:hover {
  text-decoration: none !important;
  color: #464646 !important;
}

.linkWrap {
  text-align: right;
}

.resourceRow {
  /* padding-bottom: 20px; */
  margin-top: 10px;
}

.cardBox {
  border: #e6eaeb solid 0.1px;
  background-color: #585a5e;
  /* background-image: url('/images/ballerina-generic-social-media-image-2023.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
  /* text-align: left;
    padding: 10px;
    background-color: #ffffff; */
  border-radius: 0;
  /* box-shadow: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: none; */
  margin-bottom: 10px;
}

.cardBox:hover {
  background-color: #20b6b0;
  border: #20b6b0 solid 0.1px;
}

.cardBody {
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardTitle {
  font-size: 16px;
  margin: 10px 0;
}

.cardText {
  padding-bottom: 20px;
  color: white;
}

.cardText h5 {
  line-height: 30px;
  font-size: 22px;
}

.cardImg {
  margin: 20px;
}

.resourceCardLink {
  text-decoration: none;
}

.resourceCardLink:hover {
  text-decoration: none;
}
