body {
	background-attachment: fixed;
	background-image: url("https://wso2.cachefly.net/wso2/sites/all/ballerina/img/ballerina-bg.jpg");
	background-size: 100% auto;
	font-family: "Cairo",sans-serif;
}
