.textLink {
  text-decoration: none;
  color: #20b6b0;
  font-size: 16px;
  font-weight: 400;
}

.textLink:hover {
  color: #57595d;
}

.customUl li+li {
  margin-top: 5px;
}

.customUl {
  margin-top: 20px;
}

.customLi {
  margin: 0;
  padding: 0 0 6px 40px;
  list-style: none;
  background-image: url("/images/main-right-arrow-home-hover.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 32px;
}

.swag {
  width: -moz-available !important;
  width: -webkit-fill-available !important;
  width: fill-available !important;
}

.card {
  display: flex;
  flex-flow: row wrap;
}

.cutomCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border-radius: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}