.titleLink {
  text-decoration: none;
  color: #20b6b0;
  font-size: 16px;
  font-weight: 400;
}

.titleLink:hover {
  color: #57595d;
}

.title {
  margin-bottom: 0;
}

.description {
  color: #57595d;
  font-size: 14px;
}

.contentCol {
  flex-direction: column;
  justify-content: space-between;
}

.sub {
  margin-left: 10px;
}

.downArrow {
  width: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stepWrap {
  background: #ffffff;
  padding: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
}

.stepWrap p {
  margin-bottom: 0;
}

.stepsCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}
