.introBottomRow ul {
    padding: 0;
    margin: 10px 0;
    display: inline-block;
    float: right;
}

.introBottomRow ul li {
    list-style: none;
    display: inline-block;
    float: right;
    margin-right: 30px;
}

.introLinks {
    color: #20b6b0;
    text-decoration: none;
    margin-top: 20px !important;
    padding-top: 20px;
    cursor: pointer;
}

.introLinks:hover {
    color: #20b6b0;
}

.description {
    color: #ffffff;
}

.description h1 {
    color: #000000;
    font-size: 3.45rem;
    margin: 0; 
    background-color: #eff0f1; 
    width: fit-content;
}

.description p {
    line-height: 1.3rem;
    margin-bottom: 0;
    font-size: 16px;
    color: #ffffff;
}

.desItem {
    display: flex;
    flex-direction: row;
}

@media (max-width: 576px) {
    .btnCol {
        margin-top: 20px;
    }
}

@media (min-width: 576px) {
    .btnCol {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .btnCol {
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    .btnCol {
        margin-top: 0px;
    }
}

.iconBlock {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.introText {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: space-between;
}