.card {
    background-color: #eeeeee;
}

.cardLink {
    text-decoration: none;
    color: #464646;
}

.cardLink:hover {
    color: #20b6b0;
}

.tagWrapper {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin-right: 5px;
    margin-top: 5px;
    background-color: #dddddd !important;
    color: #888;
}