.titleLink {
  text-decoration: none;
  color: #20b6b0;
  font-size: 16px;
}

.titleLink:hover {
  color: #57595d;
}

.title {
  margin-bottom: 0;
}

.description {
  color: #57595d;
  font-size: 14px;
}

.contentCol {
  flex-direction: column;
  justify-content: space-between;
}

.sub {
  margin-left: 10px;
}
