.videoImage h3 {
    text-align: left; 
    font-size:20px;
}

.videoImage img {
    border: #a4a4a4 solid 1px !important;
}

.videoImage img:hover {
    border: 2px solid #1eb5ae !important
}

.videoPlayButton {
    position: relative;
    z-index: 8;
    top: -34%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    background: #10101077;
    border-radius: 50%;
    padding: 22px 15px 10px 28px;
}

.videoPlayButton span {
    width: 0;
    height: 0;
    display: block;
    position: relative;
    z-index: 6;
    border-left: 26px solid #fff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}

.videoModal div {
    background-color: transparent;
    border: none;
}

.videoHeader {
    border: none;
}

.videoHeader button {
    opacity: 1 !important;
    padding: 0.25em 0.25em !important;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") !important;
}

.videoBody {
    background-color: black !important;
}

.videoIframe {
    height: 300px;
    width: -webkit-fill-available;
}