.leftNavAccordian {
    padding-left: 0.4rem;
}

.leftNavAccordian button {
    padding: 1rem 0.75rem;
    font-size: 13px;
    font-weight: 400;
    /* text-transform: capitalize; */
    /* padding-left: 38px; */

    /* white-space: normal !important; */
    white-space: normal;
    line-height: normal;
}

.headName {
    white-space: nowrap;
}

.acItem {
    border: none !important;
}

/* .acItem h2 button {
    white-space: normal !important;
   /* word-wrap: break-word !important;
} */

.leftNavAccordian h2 {
    margin-top: 0;
    line-height: 0;
}

.mainDir button {
    padding: 10px;
    padding-bottom: 10px;
}

.leftNavAccordian button:focus {
    border: none;
    box-shadow: none;
}
 
.leftNavAccordian button:not([aria-expanded="false"]) {
    background: #f7f7f7;
    color: #20b6b0;
    font-weight: 500;
}

.leftNavAccordian button:not(.collapsed) {
    box-shadow: none;
}

/* .leftNavAccordian button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2320b6b0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
} */

.leftNavAccordian button:not(.collapsed)::after {
    background-image: none;
}

.leftNavAccordian button:not(.collapsed):hover:after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2320b6b0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.leftNavAccordian button:not([aria-expanded="false"])::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2320b6b0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.leftNavAccordian .accordionBody {
    padding: 1rem 0 1rem 0;
}

.leftNavAccordian ul li {
    /* text-transform: capitalize; */
    font-weight: 400;
}

ul.firstTier {
    color: #333;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0 !important;
}

ul.firstTier li {
    min-height: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1.25rem;  
    /* padding-left: 45px;    */
}

ul.firstTier li a {
    color: #212529;
    text-decoration: none;
}

/* ul.firstTier li + li {
    margin-bottom: 10px;
} */

ul.firstTier .acBody {
    padding-right: 0;
}

ul.firstTier button {
    padding: 0.5rem 0.75rem 0.5rem 1.25rem;
    font-size: 13px;
    /* padding-left: 45px; */
}

ul.secondTier {
    padding-left: 0;
}

ul.secondTier li {
    /* padding-left: 38px; */
}

ul.secondTier button {
    padding: 0.5rem 0.75rem 0.5rem 1.25rem;
    font-size: 13px;
    /* padding-left: 45px; */
}

ul.firstTier li a.active, ul.firstTier li a:hover,
ul.secondTier li a.active, ul.secondTier li a:hover {
    color: #20b6b0;
    text-decoration: none;
}
/* .accordion + .accordion {
    margin-top:50px;
} */

.nonAcBtn {
    border: none !important;
    background: none !important;
    color: #212529 !important;
    font-weight: 400 !important;
}

.nonAcBtn:hover {
    color: #20b6b0 !important;
}

.nonAcBtn.active {
    background: none !important;
    color: #20b6b0 !important;
    border: none !important;
}
