

<!DOCTYPE html>
<html class="no-js">
   <head>
      {% include ballerina-head-landing-page.html %}
      <link rel="stylesheet" href="{{ "/css/ballerina-io-docs.css?200618" | prepend: site.baseurl }}">
   </head>
   <body class="cBallerina-io">
      {% include nav.html %}
      <div class="row cBallerina-io-Gray-row">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cBallerina-io-Home-Middle-col">
                  <div class="col-xs-12 col-sm-12" style="padding: 0;">
                     <div class="col-md-12 col-lg-10 cBallerina-io-breadcrumbs">
                        {% include nav-breadcrumbs.html %}
                        <div class="cVersionContainer"></div>
                     </div>
                     <div class="col-md-12 col-lg-2 cBallerina-io-breadcrumbs">
                        <ul class="wy-breadcrumbs">
                           <li class="wy-breadcrumbs-aside">
                              <a class="icon icon-github" target="_blank" href="https://www.github.com/{{ site.github_username }}/{{ site.git_repo }}/blob/master/{{ page.path | replace: ".html", ".md"}}">Edit on GitHub</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="cBlallerina-io-docs-content-container">
                     <div class="wy-nav-content">
                        <div class="rst-content">
                           <div role="main">
                              <div class="section">
                                 {{ content }}
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% include ballerina-footer.html %}
      <script src="/js/theme.js"></script>

<script>
      $(document).ready(function () {
         var slp = '<h3 class="release-version">swan-lake-preview6 </h3><p style="margin-bottom:100px;">This is an internal-only release.</p><h3 class="release-version" id="swan-lake-preview5">swan-lake-preview5 (Oct 24, 2020)</h3>'
      
          setTimeout(function(){
             
            $( "#swan-lake-preview5" ).replaceWith(slp);
      
      
          }, 500);
      });
      
      </script>

   </body>
</html>

