<!DOCTYPE html>
<html class="no-js">
   <head>
      {% include ballerina-head.html %}
      <link rel="stylesheet" href="{{ "/css/ballerina-io-docs.css?200618" | prepend: site.baseurl }}">
      <link rel="stylesheet" href=/css/ballerina-io-learn-v2.css>
      <link href="/css/abixTreeList.css" rel="stylesheet">
   </head>
   <body class="cBallerina-io" id="top">
      {% include nav.html %}
      <div class="row cBallerina-io-Gray-row">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 cBallerina-io-Home-Middle-col cLeftNavSticky">
                  {% include side-nav-menu-button.html %}

                  {% include left-nav-rest-api-guide-swan-lake.html %}
               </div>
               <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 cBallerina-io-Home-Middle-col">
                  <div class="col-xs-12 col-sm-12" style="padding: 0;">
                     <div class="col-md-12 col-lg-10 cBallerina-io-breadcrumbs">
                        {% include nav-breadcrumbs.html %}
                        <div class="cVersionContainer"></div>
                     </div>
                     <!-- <div class="col-md-12 col-lg-2 cBallerina-io-breadcrumbs cGitLink">
                      
                     </div> -->
                  </div>
                  <div class="cBlallerina-io-docs-content-container cPositionRelative">
                     <div class="wy-nav-content">
                        <div class="rst-content">
                           <div role="main">
                              <div class="section">


                                 <div class="col-xs-11 col-md-11 col-lg-11 cNoPadding"> <h1>{{ page.title }}</h1></div>
                                 <div class="col-xs-1 col-md-1 col-lg-1 cNoPadding cGithubContainer"><a class="icon icon-github" target="_blank" href="https://www.github.com/{{ site.github_username }}/{{ site.git_repo }}/blob/master/{{ page.path | replace: ".html", ".md"}}"></a></div>
                                 <div class="col-xs-12 col-md-12 col-lg-12 cNoPadding">
                                    <p>{{ page.intro }}</p>
                                    <div class="cBallerinaTocContainer" id="table-of-content">
                                       {% include toc.html html=content sanitize=true id="tree" %}
                                    </div>
                                    {{ content }}
                                 </div>


                                
                             
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="cTopLink" href="#top">Back to Top &#x2934;</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% include ballerina-footer.html %}
      <script src="/js/theme.js"></script>
      <script>
         $(document).ready(function () {
            var gitstar = '<iframe id="iGitStarIframe" src="https://ghbtns.com/github-btn.html?user=ballerina-platform&repo=ballerina-lang&type=star&count=true&size=small" frameborder="0" scrolling="0"></iframe>';
            $('[data-button="iGitStarText"]').replaceWith(gitstar);
         
            var gitwatch = '<iframe id="iGitWatchIframe" src="https://ghbtns.com/github-btn.html?user=ballerina-platform&repo=ballerina-lang&type=watch&count=true&size=lsmalle&v=2" frameborder="0" scrolling="0"></iframe>';
            $('[data-button="iGitWatchText"]').replaceWith(gitwatch);
         
         });
         
     </script>
     <script src="/js/ballerina-leftnav.js"></script>



     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="/js/abixTreeList.min.js"></script>
     <script>
         $(document).ready(function() {

             
                $allHeaders= $(":header"); //Select all header elements such as h1 h2 h3 h4 h5 h6
                $allHeaders.each(function(){
                  var link = $(this).attr('id');
              
                  var permLink = " <a class=\"permalink\" href=\"#"+link+"\"></a>";
                  if(link){
                     $(this).addClass('permalinkHeader').prepend(permLink) 
                  } 
                });

                $('#tree').abixTreeList();  
         });





         $(window).scroll(function () {
        var bodyclass = document.body;

        if ($(this).scrollTop() > 200) {
            $('.cTopLink').removeClass('dispalaynone');
          
        } else {
            $('.cTopLink').addClass('dispalaynone');
          
        }

   


    });

     </script>


   </body>
</html>

