<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
     
 
    <meta property="og:title" content="Ballerina Language">
    <meta property="og:description" content="Ballerina is an open-source programming language for the cloud that makes it easier to use, combine and create network services.">
    <meta property="og:type" content="website" />
 
   <!--<meta property="og:type" content="website" />-->
   <meta property="og:site_name" content="Ballerina Language">
   <meta property="og:url" content="https://ballerina.io/">
   <meta property="og:image" itemprop="image" content="https://ballerina.io/img/ballerina-sm.jpg" />
   <meta property="og:image:width" content="1200">
   <meta property="og:image:height" content="630">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://ballerina.io/">
    <meta property="twitter:title" content="Ballerina Swan Lake">
    <meta property="twitter:description" content="Ballerina is an open-source programming language for the cloud that makes it easier to use, combine and create network services.">
    <meta property="twitter:image" itemprop="image" content="https://ballerina.io/img/ballerina-sm.jpg">


    <title>API Documentation</title>
    <script src="/js/jquery.min.js"></script>
    <!-- BIO THEME START -->
    <link rel="stylesheet" href="/css/latest-bootstrap.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/latest-bootstrap-theme.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="/js/latest-bootstrap.js"></script>

    <script type="text/javascript" src="/js/ballerina-common.js"></script>
    <link rel="stylesheet" href="/css/ballerina-io.css">
    <link rel="stylesheet" href="/css/ballerina-io-docs.css">
    <link rel="stylesheet" href="/css/ballerina-io-api-new.css">

    <style>
        .line-numbers-wrap {
            display: none;
        }
    </style>
    <!-- BIO THEME END -->
</head>


<body class="cBallerina-io pushable">
{% include nav.html %}
{{ content }}
{% include ballerina-footer.html %}
<script>
    $(document)
        .ready(function() {

            // create sidebar and attach to menu open
            $('.ui.sidebar')
                .sidebar('attach events', '.toc.item')
            ;

        })
    ;

    let mainNavLinks = document.querySelectorAll(".primary-list.module ul li a");
    let mainSections = document.querySelectorAll(".main-wrapper section.method-content");

    let lastId;
    let cur = [];

    let contentWrapper = document.querySelector(".content-wrapper");
    contentWrapper.addEventListener("scroll", event => {
        let fromTop = contentWrapper.scrollTop;

        mainNavLinks.forEach(link => {
            let section = document.querySelector("#" + link.attributes.getNamedItem("data").textContent);

            if (
                section.offsetTop <= fromTop &&
                section.offsetTop + section.offsetHeight > fromTop
            ) {
                link.classList.add("current");
            } else {
                link.classList.remove("current");
            }
        });
    });

</script>
<script>
    window.onload = (event) => {
        ballerinaHighlighter.highlightSnippets();
    };
</script>
</body>
</html>
