<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
        <div class="release_notes">
            {{content}}
        </div>

        <script>
          $("code").removeClass('language-ballerina');
          $("code").addClass('ballerina');
        </script>
        <style>
          .line-number {
	height: 18px;
	line-height: 16px;
	width: 100%;
	color: #514e4f;
	display: block;
	font-size: 12px;
	/* background: red; */
}
        </style>
  </body>
</html>