.InstallInfo {
  margin-top: 25px;
}

.downloadVersion h2 {
  color: #585a5e;
  font-size: 32px;
  margin-top: 15px;
}

.downloadVersion b {
  color: #585a5e;
}

.downloadVersion h3 {
  color: #5e5858;
  font-size: 24px;
  margin-bottom: 20px;
}

.downloadsOther h3 {
  color: #585a5e;
  font-size: 32px;
  margin-top: 15px;
  font-size: 1.25rem;
}

/* .downloads .alert {
  border: 1px solid #f5f5f5;
} */

/* .downloads :not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #f5f5f5 !important;
} */

.dVersions {
  display: flex;
  justify-content: space-between;
}

.dVersion:not(:last-child) { 
  margin-right: 1px;
}


.dVersion {
  width: 50%;
}

@media (min-width: 576px) { 
  .dVersion {
    width: 100%;
  }
}

a.cDownload {
  display: block;
  transition: none !important;
  font-size: 25px;
  font-weight: 200;
  background-color: #57595d;
  color: #ffffff !important;
  padding: 20px 8px 20px 60px;
  text-decoration: none;
  min-height: 60px;
  line-height: 35px;
  background-image: url('/images/main-right-arrow-home-hover.svg');
  background-repeat: no-repeat;
  background-position: left 20px top 14px;
  background-size: 40px 40px;
}


a.cVSCodeSample {
  display: block;
  transition: none !important;
  font-size: 25px;
  font-weight: 200;
  background-color: #57595d;
  color: #ffffff !important;
  padding: 10px 0px 0px 30px;
  text-decoration: none;
  min-height: 60px;
  line-height: 35px;
  background-image: url('/images/downloads/vscode-alt.svg');
  background-repeat: no-repeat;
  background-position: left 30px top 45px;
  background-size: 30px 30px;
  height: 90px;
  margin-bottom: 30px;
  margin-right: 0px;
  width: 290px;
}

.releaseLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.releaseNotes a {
  font-size: 16px;
  color: #20b6b0;
  display: inline-block;
  letter-spacing: 1px;
  line-height: 24px;
}

ul.downloadSubLinks {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  margin: 0;
  text-align: right;
}

ul.downloadSubLinks li {
  list-style: none;
  float: right;
  display: inline-block;
  margin-right: 8px;
  font-size: 13px;
}

ul.downloadSubLinks li:first-child {
  margin-right: 0;
}

ul.downloadSubLinks li a, .instructions,
.downloadsContent a, .releaseNotes a, .downloadsVSCode a  {
  color: #20b6b0;
  text-decoration: none;
  font-weight: 400;
}

.releaseNotes a:hover, .downloadSubLinks a:hover, 
.downloadsContent a:hover, .instructions:hover,
.downloadsVSCode a:hover {
  color: #57595d;
  font-weight: 400;
}

.downloadsContent {
  margin-top: 20px;
}

/* special Tabs */
/* .downloads-tabs .nav-tabs {
  width: 100%;
  justify-content: space-around;
}

.downloads-tabs .nav-tabs .nav-link {
  color: #20b6b0;
  cursor: default;
}

.downloads-tabs .nav-tabs .nav-link:focus, 
.downloads-tabs .nav-tabs .nav-link:hover {
  color: #555 !important;
  border-color: #ffffff !important;
  isolation: isolate;
}

.downloads-tabs .nav-tabs .nav-link.active,
.downloads-tabs .nav-tabs .nav-link.active:focus,
.downloads-tabs .nav-tabs .nav-link.active:hover {
  color: #555 !important;
  cursor: default;
  border: transparent;
  border-bottom: #20b6b0 3px solid !important;
} */

a.cDownload .cSize {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 14px;
  color: #d9dadb;
  margin-top: -4px;
}

a.cVSCodeSample .cSize {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 14px;
  color: #d9dadb;
  margin-top: -4px;
}

.cArchived a, .cArchived a:hover,
.cArchived a:focus {
  font-size: 16px;
  font-weight: 300;
  background-color: #57595d;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cArchived a:hover {
  background-color: #20b6b0;
}

.cInstallers table {
  width: 100%;
  border-top: solid 0.5px #a7a8ab;
  margin: 0;
}

.cInstallers table tr td {
  padding: 3px 7px 3px 7px !important;
  font-size: 13px;
  font-weight: 400;
  color: #585a5e;
  border: none !important;
  vertical-align: top;
  border-bottom: solid 0.5px #a7a8ab !important;
}

.cInstallers table tr td a {
  color: #20b6b0;
}

a.cDownload:hover {
  background-image: url("/images/main-right-arrow-home.svg");
  background-color: #20b6b0;
  background-repeat: no-repeat;
  background-position: left 20px top 14px;
  background-size: 40px 40px;
}

a.cVSCodeSample:hover {
  background-image: url("/images/downloads/vscode-alt.svg");
  background-color: #20b6b0;
  background-repeat: no-repeat;
  background-position: left 30px top 45px;
  background-size: 30px 30px;
}

.dwindows, .dLinux, .dMac, .dVSCode {
  background-repeat: no-repeat;
  padding-left: 40px;
  line-height: 32px;
  background-size: 30px;
  font-size: 1rem;
}

p.dwindows, p.dLinux, p.dMac, p.dVSCode {
  line-height: 32px;
}

.downloadContentRow {
  margin-bottom: 10px;
}

.cDownloadLinkIcon {
  padding-left: 5px !important;
}