html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .main-wrapper {
  justify-content: space-between;
  min-height: 100vh;
} */

.wrap-page-content {
  /* margin-top: 74px; */
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 300;

  /* padding-left: 0.4rem !important;
  padding-right: 0.4rem !important; */
}

.llanding, .integration {
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
}

.innerRow {
  padding-left: 0.4rem !important;
}

@media (min-width: 1200px) {
  .short {
    margin-bottom: 83px;
  }
}

@media (min-width: 1400px) {
  .short {
    margin-bottom: 473px;
  }
}

.contentRow,
.community-wrap-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.leftNav {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  padding-right: 0 !important;
  padding-left: 0.4 !important;
  font-size: 13px;
  border-right: 1px solid #e6e6e6;
}

.leftNav::-webkit-scrollbar {
  width: 7px;
  background-color: #ffffff;
}

.leftNav::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.mdContent {
  padding-top: 35px;
  padding-left: 1% !important;
  padding-right: 1% !important;
}

@media (min-width: 1400px) {
  .mdContent {
    padding-left: 4% !important;
  }
}

.archiveContent {
  padding-left: 1% !important;
}

.learnMob {
  background-color: #20b6b0 !important;
  border: #20b6b0 !important;
  border-radius: 0px !important;
}

.learnMob:focus,
.learnMob:hover {
  border: none !important;
  box-shadow: none !important;
}

.offcanvas .accordion,
.offcanvas .accordion button {
  font-size: 14px !important;
}

.policyContent {
  padding-top: 35px;
  /* padding-right: 3% !important; */
}

.topRow {
  display: flex;
  align-items: center;
}

.topRow .gitIcon {
  text-align: right;
}

.mdContent h1,
.policyContent h1,
.archiveContent h1,
.newsletter h1 {
  color: #464646;
  font-size: 2rem;
}

.mdContent h2,
.policyContent h2,
.downloads h2,
.archiveContent h2 {
  margin-top: 40px;
  /* margin-top: 20px; */
  color: #585a5e;
  font-size: 1.5rem;
  scroll-margin-top: 60px;
}

/* .mdContent h2:hover:after, .mdContent h3:hover:after, .mdContent h4:hover:after,
.mdContent h5:hover:after, .mdContent h6:hover:after,
.sectionTitle:hover:after {
  content: "";
  display:inline-block;
  height:16px;
  width:16px;
  margin-left: 5px;
  background-size: 16px 16px;
  background-image: url('/img/icons/permilink.svg');
  background-repeat: no-repeat;
} */

.mdContent h3,
.policyContent h3,
.archiveContent h3 {
  margin-top: 40px;
  /* margin-top: 20px; */
  color: #585a5e;
  font-size: 1.3rem;
  scroll-margin-top: 60px;
}

.downloads h3 {
  color: #585a5e;
  font-size: 1.3rem;
  scroll-margin-top: 60px;
}

.community h3 {
  color: #585a5e;
  /* font-size: 1rem; */
  font-size: 1.3rem;
}

.mdContent h4,
.mdContent h5,
.mdContent h6,
.policyContent h4,
.policyContent h5,
.policyContent h6,
.archiveContent h4,
.archiveContent h5,
.archiveContent h6 {
  margin-top: 40px;
  /* margin-top: 20px; */
  color: #585a5e;
  scroll-margin-top: 60px;
}

.mdContent h4,
.policyContent h4,
.archiveContent h4 {
  font-size: 1.2rem;
}

.mdContent h5,
.policyContent h5 .archiveContent h5 {
  font-size: 1.1rem;
}

.mdContent h6,
.policyContent h6 .archiveContent h6 {
  font-size: 1rem;
}

.mdContent p,
.mdContent li,
.policyContent p,
.communityRow p .archiveContent p {
  font-size: 16px;
  color: #57595d;
  line-height: 24px;
  font-weight: 400;
  margin: 10px 0;
  line-height: 27px;
  letter-spacing: 0.4px;
}

.mdContent li pre {
  line-height: 18.375px !important;
}

.mdContent a:hover,
.policyContent a:hover {
  color: #464646 !important;
}

.mdContent a,
.policyContent a {
  color: #20b6b0 !important;
  text-decoration: none;
}

.mdContent ol + blockquote {
  padding: 10px 20px;
  margin: -10px 0 20px 30px !important;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

.mdContent blockquote,
.policyContent blockquote {
  padding: 10px 20px !important;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

.mdTable {
  overflow-x: auto;
}

.mdContent table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.mdContent table td, .policyContent table td,
.mdContent table th, .policyContent table th {
  border: 1px solid #e1e4e5 !important;
}

.mdContent table td, .policyContent table td {
  font-weight: 400;
}

.mdContent table th, .policyContent table th,
.mdContent table td, .policyContent table td {
  padding: 10px;
}

.mdContent table thead tr, .policyContent table thead tr,
.cCodeTable tr th {
  background-color: #464646;
  /* font-weight: 400; */
  color: #ffffff;
}

.mdContent li ul li {
  list-style: disc;
}

:not(pre) > code {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
  background: #f5f5f5;
  color: inherit;
}

b,
strong {
  font-weight: 700 !important;
}

pre.shiki,
pre.default {
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #eeeeee !important;
}

.mdContent img {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.contentNav {
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eeeeee;
}

.prevLink,
.nextLink {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.nextLink {
  justify-content: end;
}

.prevLink a,
.nextLink a {
  color: #20b6b0;
}

.prevLink:hover,
.nextLink:hover {
  color: #57595d;
  fill: #57595d;
}

/* .section {
  display: flex;
  align-items: center;
} */

.mdButton {
  visibility: hidden;
  margin-left: -30px;
  cursor: pointer;
}

h1.section:hover .mdButton,
h2.section:hover .mdButton,
h3.section:hover .mdButton,
h4.section:hover .mdButton,
h5.section:hover .mdButton,
h6.section:hover .mdButton {
  visibility: visible;
}

h1.section code,
h2.section code,
h3.section code,
h4.section code,
h5.section code,
h6.section code {
  margin: 0 8px;
}

/* .prevLink::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2320b6b0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
} */

/* .prevLink::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2320b6b0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
} */

.pageToc {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  padding-right: 0.4rem !important;
  padding-left: 0 !important;
  padding-top: 25px;
  font-size: 13px;
  font-weight: 400;
}

.pageToc h6 {
  color: #57595d;
}

.pageToc::-webkit-scrollbar {
  display: none;
}

.pageToc .title-level3 {
  padding-left: 25px !important;
}

.pageToc .title-level4 {
  padding-left: 45px !important;
}

.pageToc .title-level5 {
  padding-left: 65px !important;
}

.pageToc .title-level6 {
  padding-left: 85px !important;
}

.markdown-navigation {
  border-left: 1px solid #20b6b0;
}

.markdown-navigation .title-anchor {
  cursor: pointer;
  padding: 5px 10px;
}

.markdown-navigation .title-anchor:hover {
  color: #20b6b0;
}

.markdown-navigation .active {
  color: #20b6b0;
  border-left: 3px solid #20b6b0;
}

.mdContent iframe {
  width: -webkit-fill-available;
}

.home {
  background-color: #494949;
}

.home .wrap-page-content {
  padding-bottom: 0;
}

ul.cInlinelinklist {
  margin: 20px 0 0 0;
  padding: 0;
}

ul.cInlinelinklist li {
  list-style: none !important;
  padding-left: 40px;
  background-image: url(/images/toc-bg.svg);
  background-repeat: no-repeat;
  background-position: left center;
  margin: 0 0 10px 0;
  margin-left: 0 !important;
  width: 100%;
  display: block;
  float: none;
}

a.cGreenLinkArrow {
  color: #20b6b0 !important;
}
a.cGreenLinkArrow:hover {
  color: #000 !important;
}

.pageContentRow {
  margin-bottom: 45px;
}

.pageContentRow h2 {
  color: #585a5e;
  font-size: 1.5rem;
  scroll-margin-top: 60px;
}

.community .pageContentRow h2 {
  color: #585a5e;
  /* font-size: 1.5rem; */
  scroll-margin-top: 120px;
  font-size: 2rem;
}

.pageHeader h1 {
  padding-top: 35px;
  color: #464646;
  /* color: #585a5e; */
  font-weight: 500;
  /* font-size: 2rem; */
  font-size: 3rem;
}

/*--------downloads page -------*/
.downloads :not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f5f5 !important;
}

.versionSeparator {
  border-top: #a7a8ab solid 0.3px;
  margin-top: 40px !important;
}

.other .cHomeWhyBallerinaBox h4 {
  height: 50px;
}

.catTitleRow h2,
.catTitleRow .apiDocs {
  display: inline-block;
}

.catTitleRow .apiDocs {
  margin-left: 10px;
  color: #20b6b0;
}

.catTitleRow .apiDocs:hover {
  color: #464646;
}

/*------------Community----------------*/

.communityRow {
  padding-top: 15px;
  /* padding-bottom: 15px; */
  /* margin-bottom: 0 !important; */
}

.communityRow h2 {
  /* margin-top: 40px; */
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.communitySubRow {
  background-color: #f8f8f8;
  z-index: 100;
}

.communitySub {
  background-color: #f8f8f8;
  padding-top: 15px;
  padding-bottom: 15px;
  position: sticky;
  top: 60px;
  z-index: 1000;
}

.communitySub ul {
  flex-direction: row;
  justify-content: end;
}

.communitySub ul li:not(:last-child) {
  margin-right: 15px;
}

.communitySub a {
  color: #20b6b0;
  font-weight: 400;
  text-decoration: none;
}

.communitySub a:hover {
  color: #464646;
}

.slackRow {
  background-color: #e6eaeb;
}

.modal-content {
  border-radius: 0 !important;
}

.newsletterCat {
  margin-top: 30px !important;
}

.newsletterInfo {
  padding: 10px 0;
}

.newsletterInfo + .newsletterInfo,
#past-issues + .newsletterInfo {
  border-bottom: 0.3px solid #d9dadb;
}

.newsletterInfo h4 {
  font-size: 1.3rem;
}

.newsletterInfo:last-of-type {
  border-bottom: none;
}

.newsletterDate {
  color: #585a5e !important;
  font-weight: 500 !important;
}

.newsletterTitle {
  margin: 0px auto;
  line-height: 30px;
  padding-bottom: 10px;
}

.newsletterLink {
  color: #20b6b0;
  text-decoration: none;
}

.newsletterLink:hover {
  color: #57595d !important;
  text-decoration: none;
}

.newsletter {
  border-right: 1px solid #d1d4da;
  display: inline-block;
  min-height: 390px;
}

.newsletter td {
  padding-left: 0 !important;
}

.subscriptionCol {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  padding-top: 25px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  font-size: 13px;
}

ul.eventsTabs {
  justify-content: flex-end;
}

.community .nav-tabs .nav-link {
  border: none;
}

.eventsTabs .nav-link,
.eventsTabs .nav-link:hover,
.codeTabs .nav-link,
.codeTabs .nav-link:hover {
  border: none;
}

.eventsTabs li button,
.codeTabs li button {
  color: #20b6b0;
  cursor: default;
  background: none;
  border: none;
}

.eventsTabs li button:focus,
.eventsTabs li button:hover,
.codeTabs li button:focus,
.codeTabs li button:hover {
  color: #57595d !important;
  border: none;
  background-color: none;
  isolation: isolate;
}

.eventsTabs li button[aria-selected="true"],
.eventsTabs li button[aria-selected="true"]:focus,
.eventsTabs li button[aria-selected="true"]:hover,
.codeTabs li button[aria-selected="true"],
.codeTabs li button[aria-selected="true"]:focus,
.codeTabs li button[aria-selected="true"]:hover {
  color: #57595d !important;
  cursor: default;
  background-color: none !important;
  border: none;
  border-bottom: #20b6b0 3px solid !important;
}

.formLink {
  color: #20b6b0;
  text-decoration: none;
}

.formLink:hover {
  color: #57595d;
  text-decoration: none;
}

.formEmbedded {
  width: 100%;
  height: 350px;
}

.learnRow {
  margin-top: 20px;
  padding-top: 30px;
}

.cardBottomExtraMargin{
  margin-bottom: 5px;
}

.useRow {
  margin-bottom: 15px;
}

.useRow p {
  margin-bottom: 5px;
}

.useRow a {
  text-decoration: none;
  color: #20b6b0;
  font-weight: 400;
}

.useRow a:hover {
  color: #57595d;
}

.releasesRow {
  display: inline-block;
  /* width: 100%; */
  margin-bottom: 20px;
}

.installers h3.releaseVersion {
  font-size: 1.3rem;
  color: #555;
  letter-spacing: 0.5px;
  text-transform: none;
  /* font-family: "pragmatica", sans-serif; */
  line-height: 28px;
  font-weight: 400;
  padding: 0;
  margin: 20px 0 15px 0;
  border: none;
}

.installers {
  padding: 15px 0px;
}

/* .releasesRow table {
  width: 100%;
} */

.installers table tr td {
  padding: 3px 7px 3px 7px !important;
  font-size: 13px;
  font-weight: 400;
  color: #585a5e;
  border: none !important;
  vertical-align: top;
  border-bottom: solid 0.5px #a7a8ab !important;
}

.installers table tr td a {
  color: #20b6b0;
  text-decoration: none;
  font-weight: 400;
}

.archivedReleaseNotesLink {
  font-size: 16;
  text-decoration: none;
  color: #20b6b0;
  font-weight: 400;
}

.archivedReleaseNotesLink:hover,
.installers table tr td a:hover {
  color: #57595d;
}

.archivedReleaseNotes {
  margin: 0 0 0 21px;
}

.archivedNote{
  margin-top: 30px !important;
}

.DocSearch-Button-Placeholder {
  font-size: 1rem;
  font-weight: 300;
  padding: 0 12px 0 14px;
  letter-spacing: 0.2px;
}

@media (max-width: 750px){
  .DocSearch-Modal {
    margin: 60px auto auto;
  }
}

.DocSearch-Container {
  z-index: 1021 !important;
}

.home .highlight {
  font-size: 13px !important;
}

.home pre.shiki {
  padding: 0;
  border: none;
  border-radius: 0;
  margin-top: 0;
  background-color: #f5f5f5 !important;
}

.home pre.shiki code,
.home pre.shiki span {
  line-height: 18px;
}

@media (min-width: 992px) {
  .algolia-search-cont {
    margin-left: 0.5rem;
  }
}

/*--------------------Specifications------------*/

.spec {
  background: #e7eaeb;
  color: #57595d;
  font-weight: 300;
}

.topRowSpec {
  margin-bottom: 20px;
}

.spec h1 {
  font-size: 30px;
  color: #585a5e;
  font-weight: 200;
}

.spec p {
  font-weight: 300;
}

.spec .specContent {
  background-color: #ffffff;
  padding: 40px 30px;
}

.specContent ol li {
  margin: 0 !important;
}

.stdLib a {
  font-weight: 300;
}

.stdLib ul {
  list-style: none;
}

.stdLib ul li {
  margin-top: 0;
  margin-bottom: 0;
}

.stdLib h1 {
  font-size: 30px;
  color: #585a5e;
  font-weight: 200;
}

.stdLib h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "CalibreWeb-Semibold", "pragmatica", sans-serif;
  color: #20b6b0;
  letter-spacing: 0.5px;
  line-height: 30px;
  padding: 0;
  margin: 20px 0 15px 0;
  font-weight: 600;
  border-bottom: 1px solid #20b6b0;
}

.stdlib table {
  width: 100% !important;
}

.stdlib td {
  border: 1px solid #cecfd0;
}

.mdContentSpec a {
  text-decoration: none;
}

/* .mdContentSpec .balLogo {
  margin-bottom: 20px;
} */

.mdContentSpec h1 {
  margin-bottom: 20px;
}

.mdContent .intro {
  margin-top: 20px;
}

.mdContentSpec h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "CalibreWeb-Semibold", "pragmatica", sans-serif;
  color: #20b6b0;
  letter-spacing: 0.5px;
  line-height: 30px;
  padding: 0;
  margin: 20px 0 15px 0;
  font-weight: 600;
  border-bottom: 1px solid #20b6b0;
}

.mdContentSpec pre {
  font-size: 13px;
}

.specIcon {
  cursor: pointer;
}

.policyContent li a {
  font-weight: 400;
}

.subscriptionCol iframe {
  height: 350px !important;
}

.specDrafts a {
  font-weight: 400 !important;
}

.langDraft {
  height: 100vh;;
}

/*------------------- Old Versions ------------------*/

ul.cLearnLandingLinks {
  list-style: none;
}

ul.cLearnLandingLinks li {
  list-style: none !important;
  padding-left: 40px;
  background-image: url(/images/toc-bg.svg);
  background-repeat: no-repeat;
  background-position: left center;
  margin: 0 0 10px 0;
  margin-left: 0 !important;
}

.cGreenLinkArrow {
  text-decoration: none;
}

.cLanguageFeatures {
  float: left;
  margin-right: 15px;
  width: 22% !important;
}

.cBallerina-io-Gray-row {
  padding-top: 0;
}

.row.cBallerina-io-Gray-row {
  padding-top: 0;
}

.cTopButtonContainer {
  display: none;
}

table.cTopControlsContainer tbody {
  /* border: none; */
  border-bottom-color: none;
}

.cBallerinaBySampleContainer table td {
  border: none !important;
}

.cBallerinaBySampleContainer .highlight,
.cBallerinaBySampleContainer .highlight code {
  border: none;
}

.cBallerinaBySampleContainer .highlight pre:hover,
.cOutput .highlight pre:hover {
  background-color: #cceeec;
}

.cOutput .highlight pre {
  background-color: #585a5e !important;
}

/* BBE Related */

:root {
  --code-color-background: #eeeeee;
  --output-color-background: #585a5e;

  --output-color-text: #3ad1ca;
  --code-color-output: #818181;

  --button-color-text: #20b6b0;
  --button-hover-color-text: #a8dbd9;
}

.bbeBody > * {
  margin: 0 0 20px 0 !important;
  padding: 0 !important;
}

.bbeBody ul {
  list-style: none;
}

.bbeBody li {
  margin: 0;
  display: flex;
}

.bbeBody > pre:not(.bbeOutput pre) {
  background-color: #eeeeee;
}

.backToExample {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 16px 0;
  text-decoration: none;
}

.backToExample * {
  margin: 0 16px;
  cursor: pointer;
}

.backToExample p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--button-color-text);
}

.backToExample:hover svg {
  fill: var(--button-hover-color-text);
}

.backToExample:hover p {
  font-weight: 500;
  color: var(--button-hover-color-text);
}

.bbeCode {
  background-color: var(--code-color-background);
}

.bbeOutput {
  background-color: var(--output-color-background);
}

.bbeCode.indent, .bbeOutput.indent {
  margin-left: 10px !important;
}

.bbeOutput span {
  color: var(--output-color-text);
}

.bbeOutput code code {
  background: var(--code-color-output);
}

.btnContainer {
  width: fit-content;
}

.btnNext {
  text-align: end;
  font-size: 12px;
  cursor: pointer;
}

.btnPrev {
  text-align: start;
  font-size: 12px;
  cursor: pointer;
}

.btnTitle {
  font-size: 16px;
  font-weight: 400;
  color: var(--button-color-text);
  cursor: pointer;
}

.btnTitleHover {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  color: var(--button-hover-color-text);
  cursor: pointer;
}

.btnArrow {
  cursor: pointer;
}

.btnArrowHover {
  cursor: pointer;
  fill: var(--button-hover-color-text);
}

.bbeCode .shiki {
  margin: 0 !important;
  padding-top: 0 !important;
  background-color: var(--code-color-background) !important;
}

.bbeOutput pre {
  margin: 0 !important;
  padding: 0 10px 10px 10px !important;
}

.archivedCategory {
  padding-bottom: 20px;
  border-bottom: 0.5px solid #585a5e;
  margin-bottom: 20px;
}

/*------ custom shiki theme for home page examples -------*/
:root {
  --shiki-color-text: #000;
  --shiki-color-background: #333333;
  --shiki-token-constant: #07a;
  --shiki-token-string: #770000;
  --shiki-token-comment: slategray;
  --shiki-token-keyword: #07a;
  --shiki-token-parameter: #aa0000;
  --shiki-token-function: #000;
  --shiki-token-string-expression: #690;
  --shiki-token-punctuation: #000;
  --shiki-token-link: #ee0000;
}

.bbeHomeTitle {
  width: fit-content;
  border-bottom: 2px solid #464646;
}

.bbeTable {
  background-color: #f5f6f6;
}

.bbeTable hr {
  border-top: 1px solid #d1d4da;
  opacity: 1;
}

.bbeTable h4 {
  font-size: 28px;
}

.bbeTable ul {
  list-style: none;
  scroll-margin-top: 70px;
}

.bbeTable ul:hover {
  background-color: #ebe8e8;
}

.bbeTable li {
  border-bottom: 1px solid #cecfd0;
  cursor: pointer;
}

.bbeTable li > div {
  color: #20b6b0 !important;
}

.bbeTable li:hover > div {
  color: #57595d !important;
}

.bbeTable a {
  color: #57595d !important;
}

.categoryButton {
  visibility: hidden;
}

.bbeTable li:hover > .categoryButton {
  visibility: visible;
}

.bbeBody .relatedLinks {
  margin-bottom: 0 !important;
}

/* CSS for hard coded html content in mds. */
.cCodeTable.cCodeTableFixedLayout {
  table-layout: fixed;
}

.cBallerina-Box p, .colorDesc {
  /* margin-left: 20px; */
  padding-left: 25px !important;
}

.colorBlock {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.integration h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  scroll-margin-top: 60px;
}

.integration h3 {
  scroll-margin-top: 60px;
}

.integration.usecases {
  background-color: #eeeeee;
}

/* .integration.code {
  padding-top: 50px;
} */

.integration.code.odd {
  background-color: #eeeeee;
}

/* .integration.code pre {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
} */

.integration.code pre.shiki, #code-container {
  background-color: #ffffff !important;
  border: 1px solid #eeeeee;
}

.integration.code table pre.shiki {
  background-color: #ffffff !important;
  border: none !important;
}

.pageContentRow.integration {
  margin-bottom: 0 !important;
  padding-bottom: 50px;
}

.pageContentRow.integration #use-cases {
  margin-bottom: 30px;
}

.usecases .wrap-page-content {
  padding-bottom: 0 !important;
  font-size: 18px;
}

.vscode {
 background-color: #494949;
 color: #ffffff;
}

.vscode h1 {
  color: #ffffff;
}

/* ----------- draggable code blocks -------------- */
#code-container {
  width: 100%;
  /* height: auto; */
  /* min-height: 600px; */
  min-height: 670px;
  position: relative;
  font-family: monospace;
  /* display: flex;
  flex-flow: row wrap; */
  border-radius: 4px;
}

#left_panel {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 100px;
  background-color: #ffffff;
  /* background: grey; */
  display: inline-block;
  /* overflow-y: scroll; */
  white-space: nowrap;
  /* overflow: hidden; */
  /* scroll-behavior: unset; */
  /* touch-action: none !important;
    -webkit-overflow-scrolling: none !important;
    overflow: hidden !important;
    overscroll-behavior: none !important; */
    z-index: 1;
}

#right_panel {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  /* color: #fff;
  background: black; */
  background-color: #ffffff;
  display: inline-block;
  /* overflow-y: scroll; */
  white-space: nowrap;

  z-index: 999;
}

/* .greenline {
	background: #20b6b0;
	height: 583px;
	width: 4px;
	margin: auto;
} */

#drag {
  position: absolute;
  left: -4px;
  top: 0;
  bottom: 0;
  width: 8px;
  /* cursor: w-resize; */
  background: #20b6b0;
  /* position: absolute;
	left: -4px;
	top: 0;
	bottom: 0;
	width: 57px;
	cursor: w-resize;
	background: transparent; */
  z-index: 1000;
}


#code-container .title-new {
  background-color: #20b6b0;
  color: #fff;
  padding: 10px;
  margin-bottom: 0;
  overflow: hidden;
  z-index: 999;
}

#code-container .title-old {
  background-color: #464646;
  color: #fff;
  padding: 10px;
  margin-bottom: 0;
}

#code-tab li {
  white-space: break-spaces;
}

#code-tab .tab-pane p {
  font-family: monospace;
}

#code-container .button-wrap {
  /* background-color: #20b6b0;
  border-radius: 50%;
  position: absolute; */
  /* left: 60px; */
  /* border: 1px solid #000;
  width: 50px;
  height: 50px;
  display: block; */
  /* vertical-align: middle; */
  top: calc(50% - 23px);
    left: calc(50% - 23px);
    position: absolute;
    display: block;
    vertical-align: middle;
    z-index: 1001;
    cursor: grabbing;
}

.code-panel {
  /* overflow-y: scroll; */
  white-space: nowrap;
  /* height: 556px;
  margin-top: 0; */



  /* overflow-y: hidden;
  height: 600px;
  margin-top: 0; */
}

.code-panel pre {
  overflow-y: scroll;
  /* overflow-y: hidden; */
  /* white-space: nowrap; */
  /* height: 556px; */
  height: 621px;
  margin-top: 0;

  padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 11.375px;
    line-height: 18px;



    /* touch-action: none !important; */
    /* -webkit-overflow-scrolling: none !important; */
    /* overflow: hidden !important; */
    /* overscroll-behavior: none !important; */
    overflow-x: scroll;
}

@media (min-width: 1200px) {
  .code-panel pre {
    overflow-x: hidden;
  }
}

@media (min-width: 1400px) {
  .code-panel pre {
    overflow-x: hidden;
  }
}

.code-panel.diagram {
  overflow: hidden;
  text-align: center;
  padding: 30px;
  /* width: iniauto tial; */
  position: relative;
  z-index: 999;
}

.odd .nav-link.active {
  background-color: #eeeeee !important;
}