.hacktoberfestIntro {
  padding: 80px 0 80px 0;
}

.hacktoberfestIntro2024 {
  padding: 80px 0 80px 0;
  background: #000;
}

.hacktoberfestChallenges, .hacktoberfestRules {
  background: #fff;
}

.hacktoberfestRewards {
  background: #f5f5f5;
}

.hacktoberfestChallenges, .hacktoberfestRules, .hacktoberfestRewards {
  margin-bottom: 0 !important;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.hacktoberfestChallenges h2, .hacktoberfestRules h2, .hacktoberfestRewards h2 {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #464646;
  border-bottom: 2px solid #464646;
  display: inline-block;
  padding-bottom: 10px;
  scroll-margin-top: 65px;
}

.mesh {
  background-image: url('/images/ballerina-mesh-grey-cropped.svg'); /* SVG image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: top; /* Positions the image in the center */
  background-size:cover;
}
