.homeIntro {
  /* padding: 80px 0 130px 0; */
  padding: 80px 0 80px 0;
}

.homeWhyBal, .homeIntegration, .homeArticles, .homeEvents {
  background: #fff;
}

.homeBalAction, .homeUsers, .homeVideos {
  background: #f5f5f5;
}

.homeBalAction, .homeIntegration {
  padding-bottom: 6rem;
}

.homeArticles, .homeUsers {
  padding-bottom: 3rem;
}

.home h2, .homeBalAction h2, .homeWhyBal h2, .homeIntegration h2,
.homeVideos h2, .homeEvents h2, .homeArticles h2, .homeUsers h2 {
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #464646;
  border-bottom: 2px solid #464646;
  display: inline-block;
  padding-bottom: 10px;
  scroll-margin-top: 65px;
}

.homeEvents h3 {
  padding-bottom: 20px;
}

.homeEvents {
  padding-bottom: 3rem;
}



