.nutcrackerIntro {
  background: #494949;
}

.nutcrackerAbout {
  background: #ffffff;
}

.nutcrackerFeatures {
  background: #f5f5f5;
}

.nutcrackerRelease {
  background: #ffffff;
}

.nutcrackerCommunity {
  background: #494949;
}
