.box .wrapper {
    border: 1px solid #D9D9D9;
    padding: 20px;
}

.box h3 {
    font-size: 20px;
    color: #585a5e;
}

.description {
    /* border:1px solid; */
    height: 300px;
    margin-top: 20px;
}

.description p {
    /* font-weight: 400px !important; */
    font-size: 16px;
}

.sampleLinks {
    height: 50px;
}

.sampleLinks a {
    color: #20b6b0;
    text-decoration: none;
    font-weight: 400;
}

.sampleLinks a:hover {
    color: #494949;
}